{% extends "../../theme/base.html" %}

{% block head %}
<title>地图画板 Maplet</title>
<meta name="keywords" content="地图画板 Maplet">
<meta name="description" content="地图画板 Maplet">
{% end %}


{% block zhuti %}

<div class="panel panel-black">
    <div class="panel-heading">

        {{ kwd['title'] }}
    </div>


    <ul class="list-group">

        {% for rec in recs %}
        <li class="list-group-item"><a href="/map/{{ rec.uid }}">{{ rec.title }}</a>
            <span class="app_tag">        {% module app_tags(rec.uid) %}</span>
        </li>
        {% end %}
    </ul>


</div>


<div class="panel panel-black">
    <div class="panel-heading">
        随机地图
    </div>
    <ul class="list-group">
        {% module app_random_choose(8) %}
    </ul>
</div>
{% end %}
