{% set ii = 1 %}

<ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
    {% for x in recs %}
    <li>
        {% if x.uid.endswith('00') %}


        <a href="/list/{{ x.slug }}" title="{{ x.name }}" class="flbt">
            {{ x.name }}
        </a>

        {% else %}


        <a href="#configSetting{{ii}}" class="nav-header collapsed" data-toggle="collapse">
            <i class="glyphicon glyphicon-credit-card"></i>
            {{ x.name }}
            <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span>
        </a>
        <ul id="configSetting{{ii}}" class="nav nav-list secondmenu collapse  {% if catid == x.uid %} in {% end %}">


            {% module post_cat_recent(x.uid, num = 15, with_date = False, with_catalog= False, order = False ) %}
        </ul>


        {% set ii = ii + 1 %}
        {% end %}
    </li>
    {% end %}

</ul>

