{% extends "../../../../theme/static.html" %}


{% block headinfo %}
<title>开放地理空间实验室业务范围</title>
<meta name="keywords" content="WebGIS,遥感影像,土地利用,遥感解译,地图制图,网站开发">
<meta name="description" content="开放地理空间实验室致力于推广开源GIS的应用。产、学、研相结合。 维护、制作过程，积累了丰富的知识与大量的技术。基于中国科学院东北地理与农业生态研究所信息中心，以及遥感与地理信息中心的技术力量， 成果转化。">
{% end %}


{% block content_static %}



        <div class="entry">
            <p>开放地理空间实验室致力于推广开源GIS的应用。产、学、研相结合。 维护、制作过程，积累了丰富的知识与大量的技术。
                基于中国科学院东北地理与农业生态研究所信息中心，以及遥感与地理信息中心的技术力量， 成果转化。</p>
            <p>实验室的业务范围，主要包括下面几个部分。</p>

            <h1 align="center">WebGIS开发与应用</h1>


            <ul>
                <li>
                基于MapServer，免费、开源、强大的地图发布器，提供了功能完备、价格低廉的产品。</li>

                <li>积累了丰富的数据，有效避免了企事业单位构建自己的地图服务器时的重复工作。</li>
                <li>服务器托管于中国科学院长春分院，保障了数据的安全。</li>


            </ul>


                        <h1>遥感影像处理与解译</h1>
            <ul>
                <li/>
                发布时间：2015-2-20：基于 Python + Tornado 进行发布
                <li/>
                发布时间：2014-2-15：中文版使用了PHP语言进行一些改写

            </ul>

            <h1>土地利用图地图制图</h1>
            <ul>
                <li/>
                发布时间：2015-2-20：基于 Python + Tornado 进行发布
                <li/>
                发布时间：2014-2-15：中文版使用了PHP语言进行一些改写

            </ul>


                        <h1>区域规划</h1>
            <ul>
                <li/>
                发布时间：2015-2-20：基于 Python + Tornado 进行发布
                <li/>
                发布时间：2014-2-15：中文版使用了PHP语言进行一些改写

            </ul>

            <h1>网站开发与维护</h1>

            <ul>
                <li>长期维护OGeo中国中心、开放地理空间实验室、中国沼泽湿地数据库等专业网站，积累了丰富的经验与技术。</li>
                <li>开发了具有自主知识产权的网站内核：TorCMS。</li>
                <li>拥有自己的服务器，可以免费托管。</li>

            </ul>




        </div>

{% end %}
