{% extends "../../theme/base.html" %}

{% block head %}
<title>地图画板 Maplet 用户使用最多</title>
<meta name="description" content="地图画板 Maplet">
<meta name="keywords" content="地图画板 Maplet">
{% end %}


{% block zhuti %}
<ol class="breadcrumb">
    <li>当前位置: <a href="http://www.osgeo.cn">首页</a></li>
    <li><a href="/user/info"> 用户</a></li>
    <li><a href="/user_list/user_recent"> 使用最多</a></li>
</ol>
<div class="panel panel-black">

    <div class="panel-heading">

        我最近浏览的地图
    </div>


    <ul class="list-group">

        {% if userinfo %}
        {% module app_recent_used(userinfo = userinfo,kind = 'm',num = 20,with_tag=True,glyph='glyphicon glyphicon-map-marker') %}
        {% end %}

    </ul>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6">
                本文链接： <a href="http://www.maplet.org/user_list/user_recent">我最近浏览的地图</a>
            </div>


            <div class="col-md-6" style="text-align: right;">
                <div class="widget_baidu_share">{% module baidu_share() %}</div>
            </div>


        </div>
    </div>

</div>
{% end %}

{% block right %}


<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-map-marker"></span>
            地图分类
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% module app_menu('m', 20) %}
        </ul>
    </div>
</div>

{% end %}dd
