{% extends "../../../../theme/base.html" %}

{% block head %}

<title>地形图分幅编号在线查询、浏览</title>
<meta name="keywords" content="地形图,地形图分幅,在线,可视化,转换,地形图编号,地形图编码"/>
<meta name="description"
      content="针对地形图分幅标准开发的在线查询工具，提供1比100万，1比50万，1比25万、1比10万、1比5万、1比2.5万、1比1万图幅号查询。"/>
<script type="text/javascript" src="{{ static_url('jslib/openlayers2/OpenLayers.js') }}"></script>
<script type="text/javascript" src="hello2.js"></script>

<style>
    a.skiplink {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;

    }

    a.skiplink:focus {
        clip: auto;
        height: auto;
        width: auto;
        background-color: #ffffff;
        padding: 0.3em;
    }
</style>


<style type="text/css">


    #mapdiv {
        width: 95%;
        height: 600px;
        border: 1px solid black;
    }
</style>


{% end %}
{% block mainbody %}

<div class="panel-heading">
<h1>地形图分幅编号在线查询、浏览</h1>
</div>
<div class="panel-body">

    <div class="single">


      <script type="text/javascript"><!--
init_map(98.0,30.1,'北京时间2013年8月12日5时23分','西藏自治区昌都地区左贡县、芒康县交界',6.1,false)
// --></script>
    </div>


    <div id="tdt_map" style="margin: auto; width: 700px; height: 500px;"></div>
<p>
<script type="text/javascript"><!--
init_map(98.0,30.1,'北京时间2013年8月12日5时23分','西藏自治区昌都地区左贡县、芒康县交界',6.1,false)
// --></script>
</p>
        <p><br /></p>
       </div>


</div>

<div class="panel-footer">
    <ul>
    <li>针对地形图分幅标准开发的在线查询工具。    </li>
    <li>目前完成新版编号的查询，暂不支持旧版编号的查询。</li>
    <li>提供1比100万，1比50万，1比25万、1比10万、1比5万、1比2.5万、1比1万图幅号查询。</li>
    <li>多图层叠加在一起，为了避免信息显示不友好，请缩放至合适比例尺查看地图图幅编号。</li>
    <li>行政界限仅供示意， 不作为划界标准。</li>
    <li>初次浏览时加载较慢。</li>
    <li>为保证浏览效果，请使用较新版本浏览器。</li>
        </ul>
</div>
{% end %}
