{% extends "../../../../theme/static.html" %}


{% block headinfo %}


<title>ol3</title>


<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>


<script type="text/javascript" src="js4.js"></script>
{% end %}
{% block content_static %}



        <h1>LeafLet：中国</h1>

        <div class="entry">

            <div id="map" class="map" tabindex="0" style="width:95%;height:400px;border:1px darkred solid;"></div>

            <div id="info">查询信息显示</div>
        </div>




{% end %}

