<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="bukun">
    <meta name="Copyright" content="maplet.org">

    <link rel="stylesheet" href="{{ static_url('csslib/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static_url('tass/css/style.css') }}">
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="{{ static_url('jslib/jquery-2.2.2.min.js')}}"></script>
    <script type="text/javascript" src="{{ static_url('csslib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jslib/validate/jquery.validate.min.js') }}"></script>

    {% block head %}{% end %}
</head>
<body>
{% block zhuti %}{% end %}
</body>
</html>
