<!--<form class="pure-form" method="post" id="find_calc" action="/list/find">-->
    <!--<fieldset>-->
        <!--<input id="keyword" name="keyword" type="text" class="form-control" placeholder="查找App">-->
        <!--<button type="submit" id="search_app_submit" name="search_app_submit" class="pure-button button-secondary"> 查找-->
        <!--</button>-->
    <!--</fieldset>-->
<!--</form>-->

<!--<form class="navbar-form navbar-left" role="search" method="post" id="find_calc" action="/list/find">-->
<form class="navbar-form navbar-left" role="search" method="post" id="find_calc" action="/search/">
    <div class="form-group">

        <input id="keyword" name="keyword" type="text" class="form-control" placeholder="输入关键词">
    </div>

    <button type="submit" id="search_app_submit" name="search_app_submit" class="btn btn-default"> 查找</button>

</form>