{% extends "../theme/base_zhu.html" %}
{% block head %}

<title>在线地图 历史地图 专题地图 在线历史地图 中国历史地图 云GIS WebGIS 地图云集 地图画板 Maplet</title>
<meta name="keywords" content="地图云集,地图画板,Maplet,云GIS,WebGIS,在线地图,历史地图,专题地图,在线历史地图,中国历史地图,在线地图查询,历史地图在线,在线专题地图,专题地图在线">
<meta name="description"
      content="地图云集,地图画板,线地图网站,以云GIS技术为基础,实现了以地图查看为中心的应用模式，实现了地图在线浏览、叠加操作。收集、处理了大量的历史地图,专题地图,尤其是中国历史地图资料.">

{% block headinfo %}
{% end %}
{% end %}

{% block base_top_header %}


<header class="jumbotron subhead" id="overview">
    <div class="container">
        <p class="lead">云GIS应用与地图资源云　在线历史地图与专题地图　OSGeo中国中心　中科院东北地理所　长春</p>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                {#
                <div class="col-md-2">
                    <a href="/geojson/draw" class="btn btn-lg btn-primary" style="margin-top: 30px;margin-left:20px;"
                       target="_blank">创建地图</a>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <div>地图云集，是一个多技术手段综合支撑下的地图集信息系统（Atlas Information System, AIS），是传统专题地图集的在线版本，通过数据可视化和数据空间化等技术手段，
                            设计建立一个集数据、软件于一体的Web专题地图集系统。
                            <div>
                                {% if userinfo %}
                                <div class="bg-info text-info"> 用户已经登录，可保存创建的地图</div>
                                {% else %}
                                <div class="bg-warning text-warning"> 保存创建的地图，请 <a href="/user/login"
                                                                                   class="btn btn-warning btn-sm">登录</a>
                                    后使用。
                                </div>
                                {% end %}
                            </div>
                        </div>
                    </div>
                </div>
                #}
                <div class="col-md-12">
                    <div class="well">
                        {% module show_page(page_id = 'maplet', userinfo = userinfo) %}
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4">

                    <div class="panel panel-black"> {% module app_catalog_of('m100',  slug = True) %}</div>
                    <div class="panel panel-black">{% module app_catalog_of('mb00', slug = True ) %}</div>
                    <div class="panel panel-black"> {% module app_catalog_of('m300', slug = True ) %}</div>
                </div>
                <div class="col-sm-4">

                    <div class="panel panel-black"> {% module app_catalog_of('mf00',  slug = True) %}</div>
                    <div class="panel panel-black"> {% module app_catalog_of('m500',  slug = True) %}</div>
                    <div class="panel panel-black"> {% module app_catalog_of('m700', slug = True ) %}</div>

                </div>
                <div class="col-sm-4">

                    <div class="panel panel-black">{% module app_catalog_of('me00', slug = True ) %}</div>
                    <div class="panel panel-black">{% module app_catalog_of('m900', slug = True ) %}</div>
                    <div class="panel panel-black"> {% module app_catalog_of('ma00', slug = True ) %}</div>


                </div>

            </div>

        </div>

        <div class="col-md-3">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        最近使用
                    </h3>
                </div>

                <ul class="list-group">
                    {% if userinfo is None %}
                    {% module app_recent_used('m', 10) %}
                    {% else %}
                    {% module app_user_recent(userinfo.uid, 'm', 10) %}
                    {% end %}
                </ul>

            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        使用最多
                    </h3>
                </div>

                <ul class="list-group">
                    {% if userinfo is None %}
                    {% module app_most_used('m', 10) %}
                    {% else %}
                    {% module app_user_most(userinfo.uid, 'm', 10) %}
                    {% end %}
                </ul>

            </div>
        </div>
    </div>
</div>
{% end %}
