{% extends "../theme/base_view.html" %}

{% block head %}
<title>在线地图按分类列出</title>
<meta name="keywords" content="{{ taginfo.name }}地图,在线地图,历史地图,分类地图,">
<meta name="description" content="{{ taginfo.name }}地图,在线地图,历史地图,在线地图按分类列出">
{% end %}


{% block zhuti %}
<!--
<div class="panel panel-black">
    <div class="panel-heading">
        所在位置： <a href="/">地图</a> > 地图 > {{ taginfo.name }}

    </div>
</div>z
-->
<div class="panel panel-black">
    <div class="panel-heading">
        {{ taginfo.name }}地图: 按分类列出
    </div>


    <ul class="list-group">
        {% for rec in infos %}
        <li class="list-group-item">
            <a href="/{{router}}/{{ rec.uid }}"><span class="glyphicon glyphicon-map-marker"></span> {{ rec.title }}</a>
            <span class="app_tag">{% module map_catalogs(rec.uid ) %}</span>
        </li>
        {% end %}
    </ul>


    <div class="panel-footer">

        <div class="widget_baidu_share">{% module baidu_share() %}</div>

        <ul class="pagination">
            {% raw pager %}
        </ul>


    </div>
</div>

{% end %}


{% block right %}


<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            最近使用
        </h3>
    </div>

    <ul class="list-group">
                {% module app_recent_used(taginfo.kind, 8, userinfo = userinfo) %}

    </ul>

</div>

<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            使用最多
        </h3>
    </div>

    <ul class="list-group">
        {% module app_recent_used(taginfo.kind, 8, userinfo = userinfo) %}
    </ul>

</div>

{% end %}
