{% extends "../../theme/base.html" %}

{% block head %}


<title>用户信息 | 地图画板 | Maplet 云计算 在线计算 科学计算 工程计算</title>

<meta name="description"
      content="由科学家与工程师维护的，专注在线计算、云计算应用的网站，提供科学计算与工程计算应用,包括环境影响评价计算,地理学计算,数学计算,物理计算,化学计算">
<meta name="keywords"
      content="计算,在线计算器,云计算,在线计算,常用数据,常规数据,科学计算,工程计算,环评计算,地理计算,数学计算,物理计算,化学计算,数学公式,物理公式,建筑计算">





{% end %}


{% block zhuti %}
<div class="panel panel-black">


    <div class="panel-heading">
        所在位置： <a href="/">Maplet</a> > 密码重置

    </div>
</div>
<div class="panel panel-black">
    <div class="panel-heading">
        密码重置
    </div>
    <div class="panel-body">

        <div class="alert alert-warning">请输入邮箱地址重置用户密码，重置后链接在10分钟后失效，请尽快检查邮箱。</div>

        <form class="form-horizontal" role="form" id="form_reset">


            <div class="form-group">
                <label class="col-sm-2 control-label" for="user_email">电子邮箱：</label>

                <div class="col-sm-4">
                    <input class="form-control" id="user_email" type="text" name="user_email">
                </div>
            </div>

        </form>


        <div class="form-group">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10">
                    <a class="btn btn-primary" id="sub_reset">提交密码重置</a>
                </div>

            </div>

    </div>



</div>


{% end %}

{% block right %}


<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
           应用分类
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">

            {% module app_menu(20) %}

        </ul>
    </div>
</div>

{% end %}
