{% extends "../../theme/base.html" %}

{% block head %}


<title>用户信息 | 地图画板 | Maplet 云计算 在线计算 科学计算 工程计算</title>

<meta name="description"
      content="由科学家与工程师维护的，专注在线计算、云计算应用的网站，提供科学计算与工程计算应用,包括环境影响评价计算,地理学计算,数学计算,物理计算,化学计算">
<meta name="keywords"
      content="计算,在线计算器,云计算,在线计算,常用数据,常规数据,科学计算,工程计算,环评计算,地理计算,数学计算,物理计算,化学计算,数学公式,物理公式,建筑计算">


<script type="text/javascript" src="{{ static_url('jslib/colorbox-master/jquery.colorbox-min.js') }}"></script>


<script type="text/javascript">



</script>


{% end %}


{% block zhuti %}
<div class="panel panel-black">


    <div class="panel-heading">
        所在位置： <a href="/">Maplet</a> > 新密码

    </div>
</div>
<div class="panel panel-black">
    <div class="panel-heading">
        用户新密码
    </div>
    <div class="panel-body">

        <div>您申请了用户密码重置，下面是新的密码，请将此信息记录于别处。</div>
        <div>用户名：{{ kwd['user_name'] }}</div>
        <div>新密码：{{ kwd['new_pass'] }}</div>

        <div class="alert alert-warning">我们不会明文存储用户密码，但是为了安全起见，
            请<a href="/user/login">登陆</a>后，
            <a href="/user/changepass">修改用户密码</a>。</div>

    </div>



</div>


{% end %}

{% block right %}



<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
           应用分类
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">

            {% module app_menu(20) %}

        </ul>
    </div>
</div>

{% end %}
