
<script type="text/javascript">
    $().ready(function () {

        $("#find_calc").validate(
                {
                    rules: {
                        keyword: {
                            required: true
                        }
                    },
                    messages: {
                        keyword: {
                            required: "<span class='red'>请输入要查询的关键词</span>"
                        }
                    }
                }
        );
    });

</script>

<div class="main">
    <div class="title">
        <span>查找用户</span>
    </div>
    <div class="content">

        <form class="pure-form pure-form-aligned" method="post" id="find_calc" action="/user/find">
            <fieldset>


                <div class="pure-control-group">
                    <label for="keyword">输入用户名</label>
                    <input id="keyword" type="text" name="keyword" placeholder="用户名">
                </div>
                <div class="pure-control-group">
                    <label for="d"></label>
                    <button type="submit" id="d" name="d" class="pure-button pure-button-primary">查找</button>
                </div>


            </fieldset>
        </form>
    </div>
</div>
