<div class="main">
    <div class="title">
        <span>用户信息</span>
    </div>
    <div class="content">
        <div id="wiki_cnt">


            <ul>
                <li>用户名：{{ user_info.user_name }}</li>
                <li>电子邮箱：{{ user_info.user_email }}</li>
                <li>权限：{{ user_info.privilege}}</li>

            </ul>


        </div>
        <br>


        <a href="/post/add_document" class="pure-button pure-button-primary">添加文档</a>

        <a href="/link/list" class="pure-button pure-button-primary">维护链接</a>




        <a href="/user/logout" class="pure-button pure-button-primary">注销</a>


    </div>
</div>
