{% extends "../theme/base_view.html" %}


{% block head %}
<title>{{ view.title }}</title>
<meta name="description" content="">
<meta name="keywords" content="在线地图 历史地图 专题地图 Maplet">
{% end %}

{% block zhuti %}

<div class="panel panel-black">
    <div class="panel-heading">
        <h1>{{ view.title }}</h1>

        <div>

            发布者: <a href="/" style="color:#ffffff;">Maplet</a>&nbsp;&nbsp;
            发布日期：
            {{ str(view.date).split()[0] }}
            &nbsp;&nbsp;
            {% if 1== 2 %}

            查看:
            <em id="_viewnum">{{ view.view_count }}</em>
            {% end %}
            &nbsp;&nbsp;

         {% if userinfo %}
{% if userinfo and userinfo.role[1] >= '2' %}
<span class="cmts"><a href="/page/edit/{{ postinfo.uid  }}" class="btn btn-xs btn-primary">Edit</a></span>
{% end %}
{% if userinfo.role[2] >= '3' %}
<span class="cmts"><a href="/page_man/view/{{ postinfo.uid }}" class="btn btn-xs btn-primary"> Manage</a></span>
{% end %}
{% end %}

        </div>
    </div>

    <div class="panel-body">
        <div id="wiki_cnt">
            {% raw unescape(view.cnt_html ) %}
        </div>
    </div>


    <div class="panel-footer">

        <div class="row">
            <div class="col-md-6">
                本文链接： <a href="http://www.maplet.org/page/{{ view.uid }}.html">{{ view.title }}</a>
            </div>


            <div class="col-md-6" style="text-align: right;">
                <div class="widget_baidu_share">{% module baidu_share() %}</div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block right %}

<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            最近地图
        </h3>
    </div>

    <ul class="list-group">
                {% module app_recent_used('m', 10, userinfo = userinfo) %}

    </ul>

</div>

<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            最近文档
        </h3>
    </div>

    <ul class="list-group">

        {% module post_recent(8, with_catalog=False, with_date = False) %}

    </ul>
</div>


{% end %}
