{% extends "../theme/base.html" %}

{% block zhuti %}

<div class="mtop">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">Wiki {{ _('List') }}</li>
    </ul>
</div>


<div class="panel panel-default">
    <div class="panel-heading"> Wiki {{ _('List') }} </div>

        <ul class="list-group">
            {% for x in view %}
            <li class="list-group-item">
                <a href="/wiki/{{x.title}}" title="{{x.title}}">
                    {{ x.title }}
                </a>
                <span>{{ datetime.datetime.fromtimestamp(x.time_update).strftime('%Y-%m-%d')  }}</span>
            </li>
            {% end %}
        </ul>


</div>


{% end %}

{% block right %}



<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
           地图分类
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% module app_menu('m',20) %}
        </ul>
    </div>
</div>
<div class="panel panel-black">
   <div class="panel-heading">
      <h3 class="panel-title">
         最近文档
      </h3>
   </div>
    <ul class="list-group">

    {% module post_recent(8, with_catalog=False, with_date = False) %}
    </ul>
</div>



{% end %}
