{% extends "../theme/base.html" %}

{% block zhuti %}




<div class="panel panel-black">
    <div class="panel-heading">
        {{ kwd['title'] }}
    </div>
        <ul class="list-group">
            {% module post_recent(20) %}
        </ul>
</div>



{% end %}

{% block right %}



<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
           地图分类
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% module app_menu(20) %}
        </ul>
    </div>
</div>
<div class="panel panel-black">
   <div class="panel-heading">
      <h3 class="panel-title">
         最近文档
      </h3>
   </div>
    <ul class="list-group">

    {% module post_recent(8, with_catalog=False, with_date = False) %}
    </ul>
</div>



{% end %}
