<div class="container-fluid foot-wrap" >


    <div class="container">

        <div class="row">
            <div class="row-content col-sm-3">



       <h3>            文档中心</h3>

            <ul >
               <li > <a href="http://www.osgeo.cn/gis_tutorial/" target="_blank">地理信息系统基础原理</a></li>
               <li > <a href="http://www.osgeo.cn/doc_pycsw/" target="_blank">pycsw中文文档（翻译）</a></li>
               <li > <a href="http://www.osgeo.cn/grass_tutorial/" target="_blank">GRASS GIS中文教程</a></li>
               <li > <a href="http://www.osgeo.cn/osgeo-live/" target="_blank">OSGeo Live中文文档</a></li>
               <li > <a href="http://www.osgeo.cn/python_gdal_utah_tutorial/" target="_blank">犹他州立大学Python GDAL课程笔记</a></li>
            </ul>

        </div>




            <div class="row-content col-sm-3" >


               <h3>链接</h3>
                    <ul >
                        <li><a href="/page/tutorial">教程</a></li>
                        <li><a href="/page/documents">文档</a></li>
                        <li><a href="/page/contact">联系方式</a></li>
                        <li><a href="/page/intro_cn">实验室介绍</a></li>
                        <li><a href="/page/introduction">Introduction</a>
                    </ul>


                <h3>联系方式</h3>
                <ul>
                    <li><a>Email: bukun#osgeo.cn </a></li>
                </ul>
            </div>

            <div class="row-content col-sm-6">

                <h3>OSGeo项目</h3>
                                <div class="row-content col-sm-4" >
                 <h4><span class="glyphicon glyphicon-list"></span> Web制图</h4>
                <ul>

                <li><a href="/page/deegree">Deegree</a>
                </li><li><a href="/page/geomajas">Geomajas</a>
                </li><li><a href="/page/geomoose">GeoMoose</a>
                </li><li><a href="/page/geoserver">GeoServer</a>
                </li><li><a href="/page/mapbender">Mapbender</a>
                </li><li><a href="/page/mapbuilder">MapBuilder</a>
                </li><li><a href="/page/mapfish">MapFish</a>
                </li><li><a href="/page/mapguide_os">MapGuide Open Source</a>
                </li><li><a href="/page/mapserver">MapServer</a>
                <li><a href="/page/openlayers">OpenLayers</a>
            </li>
                    </ul>

<h4><span class="glyphicon glyphicon-list"></span>  元数据目录 </h4>
     <ul>
                <li><a href="/page/geonetwork">GeoNetwork</a></li>
                <li><a href="/page/pycsw">pycsw</a></li>
</ul>

                </div>


            <div class="row-content col-sm-4">

                <h4><span class="glyphicon glyphicon-list"></span> 内容管理系统</h4>

                <ul>
                    <li><a href="/page/geonode">GeoNode</a></li>
                </ul>

            <h4><span class="glyphicon glyphicon-list"></span> 开发类库</h4>

                <ul>
                <li><a href="/page/fdo">FDO</a></li>
                <li><a href="/page/gdal">GDAL/OGR</a></li>
                <li><a href="/page/geos">GEOS</a></li>
                <li><a href="/page/geotools">GeoTools</a></li>
                <li><a href="/page/ossim">OSSIM</a></li>
                <li><a href="/page/postgis">PostGIS</a></li>
            </ul>


            <h4><span class="glyphicon glyphicon-list"></span> 扩展项目 </h4>
                <ul>
                <li><a href="/page/public_geospatial_data">开放地理空间数据</a></li>
                <li><a href="/page/education_and_curriculum">教育及培训</a></li>
                <li><a href="/page/osgeo_live">OSGeo Live</a></li>
            </ul>

</div>


            <div class="row-content col-sm-4">

                <h4><span class="glyphicon glyphicon-list"></span> 桌面应用</h4>
                <ul>
                <li><a href="/page/grass">GRASS GIS</a></li>
                <li><a href="/page/marble">Marble</a></li>
                <li><a href="/page/qgis">QGIS</a></li>
</ul>

            <h4><span class="glyphicon glyphicon-list"></span> 孕育项目</h4>
                <ul>
                <li><a href="/page/zoo_project">ZOO-Project</a></li>
                <li><a href="/page/team_engine">Team Engine</a></li>
                <li><a href="/page/gvsig">gvSIG</a></li>
                <li><a href="/page/opticks">Opticks</a></li>
                <li><a href="/page/pycsw">pycsw</a></li>
                <li><a href="/page/metacrs">MetaCRS</a></li>
                <li><a href="/page/orfeo_toolbox">ORFEO Toolbox(OTB)</a></li>
                <li><a href="/page/rasdaman">rasdaman</a></li>
            </ul>


            </div>

            </div>

    </div>

            <p align="center"  style="margin-top: 20px;color:#878B91;">Copyright &copy; 2014-2017
                <a href="{% module site_url() %}/">OSGeo中国中心</a> 吉ICP备05002032号</p>
                <p align="center"  style="margin-top: 20px;color:#878B91;">Powered by <a href="https://github.com/bukun/TorCMS" target="_blank">TorCMS</a></p>
        </p>

        </div>
</div>