
<form method="post" class="form-horizontal" id="reply_form">
<div class="form-group">
<div class="col-sm-10">
我来评论（至少50个字符|支持MarkDown语法）

<span class="red">登陆后可以评论！</span>

</div>
</div>
<div class="form-group">
<div class="col-sm-10">
<textarea rows="5" name="cnt_reply" id="cnt_reply" class="form-control"></textarea>
</div></div>
<div class="form-group">
<div class="col-sm-10"><a id="btn_submit_reply" onclick="reply_it('{{uid}}');" class="btn btn-primary btn-small">提交</a>
</div>
</div>
</form>

<div id="pinglun"></div>
往期评论
<p style="border-bottom: 1px dashed #dddddd; margin-bottom: 20px">&nbsp;</p>
     {% set ii = 0 %}
{% for reply in replys %}

<div id="del_zan_{{ ii }}" style="font-size: 14px;">
    <p><strong>{{ reply.user_name }}</strong></p>
    <p class="listinfo_content"> {% raw unescape(reply.cnt_html) %}</p>

    <p>编辑于{{ str(reply.timestamp).split('.')[0] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;共
        <span id="text_zan_{{ ii }}">{{ reply.vote }}</span>
        个人赞同 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        {% if (userinfo is None) or ( (userinfo) and ( userinfo.uid != reply.user_id )) %}
        <a class="btn btn-xs btn-primary"
           style="padding:3px 8px; margin-right: 5px"
           onclick="reply_zan('{{ reply.uid }}', {{ ii }} );">
            赞
        </a>
        {% end %}

        {% if userinfo and ( userinfo.uid == reply.user_id or userinfo.role[2] > '1') %}

        <a class="btn btn-xs btn-primary" style="padding:3px 8px;"
           onclick="reply_del('{{ reply.uid }}', {{ ii }} );">
            删除
        </a>
        {% end %}
    </p>
    <p style="border-bottom: 1px dashed #dddddd; margin-bottom: 20px">&nbsp;</p>

</div>
{% set ii = ii + 1 %}
{% end %}
