{% if userinfo %}

{% if userinfo.role[1] > '1' %}
<span class="cmts"><a href="/{{kwd['router']}}/edit/{{ kwd['uid']  }}" class="btn btn-xs btn-warning">
    <span class="glyphicon glyphicon-pencil"></span>
    Edit</a></span>

{% elif userinfo.role[0] > '0' %}
<span class="cmts"><a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_man/edit/{{kwd['uid'] }}"
                      class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-pencil"></span>
    帮助编辑</a></span>
{% end %}

{% if userinfo.role[1] >= '2' %}
<span class="cmts"><a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_man/view/{{ kwd['uid']  }}"
                      class="btn btn-xs btn-danger"> Manage</a></span>
{% end %}


{% if userinfo.role[1] >= '3' %}
<span class="cmts"><a href="/admin_post/_edit/{{ kwd['uid']  }}"
                      class="btn btn-xs btn-danger">ADMIN</a></span>
{% end %}

{% else %}

<span class="cmts"><a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_man/edit/{{kwd['uid'] }}"
                      class="btn btn-xs btn-warning">
    <span class="glyphicon glyphicon-pencil"></span>
    帮助编辑</a></span>

{% end %}
