{% extends "../theme/base_zhu.html" %}
{% block head %}

<title>在线地图 历史地图 专题地图 在线历史地图 中国历史地图 云GIS WebGIS 地图云集 地图画板 Maplet</title>
<meta name="keywords" content="地图云集,地图画板,Maplet,云GIS,WebGIS,在线地图,历史地图,专题地图,在线历史地图,中国历史地图,在线地图查询,历史地图在线,在线专题地图,专题地图在线">
<meta name="description"
      content="地图云集,地图画板,线地图网站,以云GIS技术为基础,实现了以地图查看为中心的应用模式，实现了地图在线浏览、叠加操作。收集、处理了大量的历史地图,专题地图,尤其是中国历史地图资料.">

{% block headinfo %}
{% end %}

<Style>
    #mapdiv {
        width: 100%;
        height: 320px;
    }
</Style>
{% end %}

{% block base_top_header %}


<header class="jumbotron subhead" id="overview">
    <div class="container">
        <p class="lead">云GIS应用与地图资源云　在线历史地图与专题地图　OSGeo中国中心　中科院东北地理所　长春</p>

    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel">
                <div id="mapdiv"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="well">

                <img src="/static/fixed/maplet_qrcode.png" style="float:right;width:140px;"/>

                <div>本网站是一个非赢利公益性网站，
                    由开放地理空间基金会中国中心维护。作为开源WebGIS的实践，
                    本网站致力于推广开源GIS技术的应用，以及地理信息科学数据共享。
                </div>

                <div>
                    有志于为开源GIS与地理信息科学数据共享作贡献的人员，请加入QQ讨论群（619741）。
                </div>

                <a target="_blank"
                   href="http://shang.qq.com/wpa/qunwpa?idkey=c054fc872c4aada0ae7422ccf4ecfe7fdd2ecbd4295d1c6939b098528e12f507">
                    <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="OSGeo:地图云集"
                         title="OSGeo:地图云集">
                </a>


            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="row">

                <div class="col-sm-4">

                    <div class="panel panel-black">
                        {% module app_catalog_of('2100', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>

                    <div class="panel panel-black">
                        {% module app_catalog_of('2900', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>
		    <div class="panel panel-black">
                        {% module app_catalog_of('3700', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>
                    <div class="panel panel-black">
                        {% module app_catalog_of('me00', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>
                    <div class="panel panel-black">
                        {% module app_catalog_of('mf00', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>


                </div>
                <div class="col-sm-4">
                    <div class="panel panel-black">
                        {% module app_catalog_of('3100', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>
                    <div class="panel panel-black">
                        {% module app_catalog_of('3300', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>
                    <div class="panel panel-black">
                        {% module app_catalog_of('2700', slug =True, glyph='glyphicon glyphicon-map-marker')%}
                    </div>
                    <hr/>

                    <div class="panel panel-black">
                        {% module app_catalog_of('2800', slug =True, glyph='glyphicon glyphicon-map-marker')%}
                    </div>
                    <div class="panel panel-black">
                        {% module app_catalog_of('2200', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="panel panel-black">
                        {% module app_catalog_of('2300', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>
                    <div class="panel panel-black">
                        {% module app_catalog_of('2500', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>

                    <div class="panel panel-black">
                        {% module app_catalog_of('2400', slug =True, glyph='glyphicon glyphicon-map-marker') %}
                    </div>


                </div>

            </div>

        </div>


    </div>
</div>
{% end %}
{% block link_list %}

<div class="col-sm-12">
    友情链接：{% module link_list(12 ) %}
</div>
<br><br>
{% module map_ad() %}
{% end %}
