{% extends "../theme/base_edit.html" %}


{% block edit %}
<ol class="breadcrumb">
    <li>Current location: <a href="{% module site_url() %}">Home</a></li>
    <li>{% module the_category(postinfo.uid) %}</li>
    <li class="active">{{ postinfo.title }}</li>
</ol>
<div class="panel panel-default">


    <div class="panel-heading">


        <h2>{{ postinfo.title }}</h2>
        <span>{{ str(postinfo.date)[:10] }}</span>
        <span>Author: <a href="http://www.osgeo.cn/">OSGeo中国中心</a></span>
        <span>Browse: {{ postinfo.view_count }} 次</span>

                <span class="cmts"><a class="btn btn-xm btn-primary" href="/post/{{ postinfo.uid }}">View</a></span>

        

    </div>

    <div class="panel-body">



          <form action="/post_man/edit/{{postinfo.uid}}" method="post" class="form-horizontal" role="form" id="form_post">


            <fieldset>

                <div class="form-group">



                    <div class="col-sm-10">
            <textarea  id="cnt_md" name="cnt_md" >
                {% raw unescape(postinfo.cnt_md) %}
            </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sub1" class="col-sm-1 control-label"></label>
                    <div class="col-sm-3">
                        <input id="sub1" type="submit" class="btn btn-warning" value="更新"/>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="bg-warning">文本编辑使用MarkDown语法。
            <a href="http://www.maplet.org/page/markdown.html">MarkDown语法说明</a></div>
    </div>
</div>


{% end %}


