{% extends "../../theme/base.html" %}

{% block head %}
<title>地图画板 Maplet 用户使用最多</title>
<meta name="description" content="地图画板 Maplet">
<meta name="keywords" content="地图画板 Maplet">
{% end %}


{% block zhuti %}

<div class="panel panel-black">
    <div class="panel-heading">
        我最近的数据
    </div>

    <div class="panel-body">
    <table class="table table-bordered ">
        {% for gson in json_arr %}
        <tr><td><a href="/geojson/{{gson.uid}}">{{gson.title if gson.title else gson.uid }} </a></td>
            <td>{{gson.user_id}}</td>
            <td>{{gson.time_update}}</td>
            </tr>
        {% end %}
    </table>
        </div>
</div>
{% end %}

