{% extends "../../../../theme/content.html" %}

{% block content %}

<div class="content">
    <div class="single">


          <h1 align="center">下载教程</h1>

        <div class="entry">
          <p>&nbsp;</p>
          <p>You can download the archive
            &quot;<a href="http://download.osgeo.org/mapserver/docs/mapserver-tutorial.zip">mapserver-tutorial.zip</a>&quot; and unzip on
            your computer. Be aware that this archive is over 25Mb in
            size - it could take awhile when downloading on slow modem
            connection. This tutorial is not perfect and I hope that you help
            make it better by providing suggestions/corrections, creative
            criticisms, etc.
          </p>
          <p>Please read the <a href="install.html">installation
            instructions</a>
            before proceeding with unzipping the downloaded file.
          </p>
          <p align="center"><b><a href="index.html">Tutorial home</a></b></p>

            </div>

</div>
    </div>
{% end %}
