{% extends "../../../../theme/content.html" %}

{% block headinfo %}
<title>MapServer 6.x 在线教程教程：显示图层中的分类</title>
{% end %}

{% block content %}

<div class="content">


    <div class="single">



<h1>教程1.3：显示图层中的分类</h1>

        <div class="entry">
<p align="left"><!--By using non-spatial attribute information in the
            data, we can create a map like this:-->
    通过使用在数据中的非空间属性信息，我们可以创建这样的地图：

</p>
<div align="center">
    <img border="1"
         src="http://159.226.123.26/cgi-bin/mapserv?map=/mstu/htdocs/example1-3.map&layer=states_poly&layer=states_line&mode=map"/>
</div>
<hr>
<p align="left"><!--This is what the mapfile looks like (Example1-3.map):-->这是地图文件看起来像什么
    <br>
</p>

            <pre class="brush:py">
# The annotated map file (sort of)
# Created by Pericles S. Nacionales for the MapServer tutorial
# 20050408
#
# MapServer map file uses the pound sign (#) to denote the start of a line
# comment--each line that needs to be commented has to be prepended with a "#".
#
# Map files begin with MAP keyword to signify the start of the map object.
# Well, the entire map file is THE map object.  Enclosed between MAP and END
# at the very bottom of this map file, are keyword/value pairs and other
# objects.
# 注释的地图文件（排序）
# 由伯里克利S. NACIONALES创建的MapServer的教程
# 20050408
#
# MapServer的地图文件使用井号（# ）开头的行表示
# 评论 - 每一行，需要加以评价，必须在前面加上一个“# ”。
#
# 地图文件与MAP关键字开始，意味着开始地图对象。
# 好了，整个地图文件是地图对象。 MAP和END之间封闭
# 在这个地图文件的最底部，关键字/值对和其他
# 对象。
MAP
  IMAGETYPE      PNG
  EXTENT         -97.238976 41.619778 -82.122902 49.385620
  SIZE           400 300
  SHAPEPATH      "../data"
  IMAGECOLOR     255 255 255

  # Layer objects are defined beneath the map object.  You need at least one
  # layer defined in your map file before you can display a map...  You can
  # define as many layers as you'd like although a limit is typically hard-coded
  # in map.h in the MapServer source.  The default limit is set at 100.  You'd
  # have to have a very specialized application to need more than 100 layers in
  # your application.
  # 层对象定义地图下方的对象。你至少需要一个
# 层中定义的地图文件，然后才可以显示在地图...您可以
  # 定义为多层次，只要你愿意，虽然限制通常是硬编码
  # 在MapServer的map.h。默认的限额设定为100。你最好
  # 必须有一个非常特殊的应用需要超过100层
  # 在您的应用中。

  # Start of LAYER DEFINITIONS ---------------------------------------------
  # 层定义开始---------------------------------------------
  LAYER # States polygon layer begins here
  LAYER# 国家多边形层从这里开始
    NAME         states_poly
    DATA         states_ugl
    STATUS       OFF
    TYPE         POLYGON

    # CLASSITEM defines the non-spatial attribute that you will be using to
    # separate a layer into classes.  This attribute will be in the DBF file
    # of your shapefile (it will be different for each data format).  In this
    # example the shapefile states_ugl has an associated database
    # (states_ugl.dbf) that contains an attribute called "CLASS".  You will be
    # using two values in the CLASS attribute to separate the classes (also
    # called themes) used in this layer--land and water.  CLASSITEM is used in
    # association with the EXPRESSION parameter in the CLASS object.  See below.
    # CLASSITEM定义你将用来
    # 分离层到类的非空间属性。此属性将在你的shape文件的DBF文件中
    # （每个数据格式会有所不同）。在这种
    # 例如shape文件states_ugl的有一个相关的数据库
    # （states_ugl.dbf），其中包含一个被称为“类”的属性。您将
    # 使用两个值中的CLASS属性分离类（也
    # 称为主题）在这一层 - 土地和水。 CLASSITEM中使用
    # 与表达参数类对象。见下文。
    CLASSITEM    "CLASS"

    # The class object is defined within the layer object.  You can define as
    # many classes as you need (well, there are limits as with layers, but it's
    # senseless to define more than ten on a "normal" layer.  There are
    # situations, however, where you might have to do it.)
    # 类对象定义层内的对象。您可以定义
    # 你需要的类（然而。对层有限制，但这是
    # 无意义的去在一个“正常”层定义十多个类。有
    # 这样的情况下，然而，你可能不得不这样做。）
    CLASS
      NAME 'States'
      EXPRESSION 'land' # Only polygons where "CLASS" = 'land' will be drawn.

      # There are styles in a class, just like there are classes in a layer,
      # just like there are layers in a map.  You can define multiple styles in
      # a class just as you can define multiple classes in a layer and multiple
      # layers in a map.
      # 在一个类有不同的风格，就像有一层中有很多的类，
      # 就像在一个地图中有多个层。您可以定义多个样式
      # 在一类中，就像你在一层，可以定义多个类，在一个地图定义多个
      # 层。
      STYLE
        COLOR      232 232 232
      END
    END
    CLASS
      NAME 'Water'
      EXPRESSION 'water' # Only polygons where "CLASS" = 'water' will be drawn.
      STYLE
        COLOR      198 198 255
      END
    END
  END # States polygon layer ends here
  # 国家多边形层到此为止

  LAYER # States line layer begins here
  # 国家线层在这里开始
    NAME         states_line
    DATA         states_ugl
    STATUS       OFF
    TYPE         LINE

    CLASSITEM    "CLASS"
    CLASS
      NAME       'State Boundary'
      EXPRESSION 'land'
      STYLE
        COLOR    32 32 32
      END
    END
  END # States line layer ends here
  # 国家线层到此为止
  # End of LAYER DEFINITIONS -------------------------------
  # 层定义到此为止

END # All map files must come to an end just as all other things must come to...
# 所有的地图文件必须结束，就像所有其他的事情，一定要来...

            </pre>
<hr align="center" width="300">
<p><!--The mapfile structure, by objects, looks like this:-->地图文件的结构，通过对象，看起来这样</p>
<pre>
                                  MAP
      (states_poly) LAYER----------|---------LAYER (states_line)
                      |                      |
       (land) CLASS---|---CLASS (water)      |-CLASS
                  |       |                    |
            STYLE-|       |-STYLE              |-STYLE</pre>

<hr align="center" width="300">
<p><!--Our mapfile still only has two layers but the polygon layer has
            been broken down into two classes. Let's have a look at the
            additional parameters:-->
    我们的映射文件仍然只有两层，但多边形层被细分为两大类。让我们来看看额外的参数：
</p>
<p>CLASSITEM<br>
    <!--This keyword is used to specify what attribute to use in separating
    the class objects. In this example that attribute is
    &quot;CLASS&quot;. If you open the database file associated with
    this layer's shapefile, you'll see that there's a column (attribute)
    called &quot;CLASS&quot;.-->
    这个关键字是用来指定分离的类对象使用什么属性。在这个例子中，属性是“类”。如果你打开​​相关联的数据库文件这层的shape文件，你会看到，有一个列（属性）称作“类”。
</p>
<p><!--How do we know which attribute to use?  Well, database records in
            shapefiles are stored in DBF files.  You can open it in a 
            spreadsheet program such as Openoffice.org's Calc, or in a desktop 
            GIS software such as QGIS, Thuban, or ArcView.  If your data came 
            with a metadata (and it should!), you can skim through through that 
            metadata file for attribute information.  You can also use "ogrinfo" 
            to display basic attribute info in your shapefiles--look back at 
            example 1.1 (the last few lines after "Layer SRS WKT:" show the 
            attribute names and types).-->
    我们怎么知道使用哪个属性？嗯，shape文件的数据库记录存储在DBF文件。你可以打开一个电子表格程序，如Openoffice.org的计算，或者在桌面如GIS软件QGIS的Thuban，或ArcView。如果您的数据有元数据（它应该！），您可以通过元数据文件的属性信息撇去。您还可以使用“ogrinfo”在您的shape文件显示基本属性信息
    - 回头看例1.1（最后几行后，“LayerSRS WKT：”显示属性名称和类型）。
</p>
<p>EXPRESSION<br>
    <!--For each class, we specify what attribute value to use. This is the
    simplest form of EXPRESSION. EXPRESSIONs can be even more complex
    than this, allowing one to evaluate regular or logical expressions.
    Please look at the mapfile reference page to see what you can do
    with EXPRESSION.-->
    对于每一类，我们指定使用的属性值。这是最简单的表达形式。表达式可以是比这更加复杂的，允许一个经常性评估或逻辑表达式。请看看映射文件的参考页面，看你能用EXPRESSION做些什么。
                
</p>
<hr>
<p class="Small" align="center">
    <a href="example1-2.html">
        返回教程 1.2
    </a> |
    <a href="section1.html">
        返回第1部分目录
    </a> |
    <a href="sections.html">
        返回教程目录
    </a> |
    <a href="example1-4.html">
        继续教程 1.4
    </a>
</p>

</div>
        </div>
    </div>
{% end %}
