{% extends "../../../../theme/content.html" %}

{% block content %}
<table align="center" border="0"><tr>
    <td> <h3 align="center">Example 2.6: MapServer Modes, Revisited</h3>

<!-- START OF MAPSERVER FORM -->
<form name="mapserv" method="GET" action="/cgi-bin/mapserv.exe">

<!-- HIDDEN MAPSERVER CGI VARIABLES -->
    <input type="hidden" name="map" value="[map]">
    <input type="hidden" name="imgext" value="[mapext]">
    <input type="hidden" name="imgxy" value="199.5 149.5">
<table width="600" border="0" align="center">
  <tr>
    <td>
	<table width="400" border="1" align="center">
	  <tr>
	    <td colspan="4">Select Layers:
<!-- SPECIFY VECTOR LAYERS -->
	      <input type="checkbox" name="layer" value="states">
              State Boundaries&nbsp; 
              <input type="checkbox" name="layer" value="hydro" >
	      Water Features&nbsp;
	      <input type="checkbox" name="layer" value="roads">
	      Roads<br>
	      
<!-- SPECIFY RASTER LAYERS -->
	      Select Background:
	      <select name="layer">
		<option value=" " >No Background</option>
		<option value="modis_jpl" >
		Daily MODIS Image</option>
		<option value="modis" >
		MODIS Surface Reflectance</option>
	      </select>
	    </td>
	  </tr>
	  <tr> 
	    <td>

<!-- SPECIFY MAP MODE -->
	      <div align="center">Map Mode:<br>
		<select name="mode">
		  <option value="browse" >Browse</option>
		</select>
	      </div>
	    </td>
	    <td>
<!-- FORM SUBMIT BUTTON -->
	      <div align="center">
		<input type="submit" name="submit" value="Refresh">
	      </div>
	    </td>
	    <td>
<!-- ZOOM/PAN CONTROLS -->
	      <div align="center">Map Control: <br>
		<select name="zoom">
		  <option value="4">Zoom In 4x</option>
		  <option value="3">Zoom In 3x</option>
		  <option value="2">Zoom In 2x</option>
		  <option value="1" >Recenter</option>
		  <option value="-2" >Zoom Out 2x</option>
		  <option value="-3">Zoom Out 3x</option>
		  <option value="-4">Zoom Out 4x</option>
		</select>
	      </div>
	    </td>
<!-- REFERENCE AND LEGEND COLUMN -->
	    <td rowspan="2" valign="top">
	      <p>Reference:<br>
	        <!-- alternative to the "ref" image -->
		<input type="image" name="ref" src="/cgi-bin/mapserv.exe?map=[map]&mapext=[minx]+[miny]+[maxx]+[maxy]&mode=reference" width="155" height="105">
              </p>
	      <p>Scalebar:<br>
		<!-- Alternative to the "scalebar" image -->
                <img src="/cgi-bin/mapserv.exe?map=[map]&mapext=[minx]+[miny]+[maxx]+[maxy]&mode=scalebar">
              </p>
	      <p>Legend:<br>
		<!-- Alternative to the "legend" image -->
		<img src="[legend]">
                <img src="/cgi-bin/mapserv.exe?map=[map]&layers=[layers]&mapext=[minx]+[miny]+[maxx]+[maxy]&mode=legend">
              </p>
	  </td>
	  </tr>
	  <tr>
<!-- DISPLAY THE MAPSERVER-CREATED MAP IMAGE -->
	    <td colspan="3" align="center" valign="top">
             <!-- Alternative to the main map image  -->
	     <input type="image" name="img" src="/cgi-bin/mapserv.exe?map=[map]&mapext=[minx]+[miny]+[maxx]+[maxy]&layers=[layers]&mode=map"
             width="400" height="300">
	    </td>
	  </tr>
	</table>
    </td>
  </tr>
</table>
</form>
      <hr>
      <p>Here's the mapfile:<br>
      <iframe width="100%" src="example2-5.map"></iframe></p>
      <p>You can view the <a href="example2-5_template.html">HTML Template source code here</a>.</p>
<hr>
      <p class="Small" align="center"><a href="/cgi-bin/mapserv.exe?map=/ms4w/appshtdocs/example2-4.map&layer=states&mode=browse">Back
        to Example 2.4</a> | <a href="section2.html"></a><a href="section2.html">Back
        to Section 2</a> | <a href="sections.html">Back to 
        the Sections Page</a> | <a href="section3.html"> Proceed
        to Section 3</a></p> </td>
  </tr></table>
{% end %}
