{% extends "../../../../theme/content.html" %}

{% block content %}
<table width="600" align="center">
    <tr>
        <td><h3 align="center">Example 2.3: Adding A Scalebar</h3>

            <!-- START OF MAPSERVER FORM -->
            <form name="mapserv" method="GET" action="/cgi-bin/mapserv">

                <!-- HIDDEN MAPSERVER CGI VARIABLES -->
                <input type="hidden" name="root" value="/mstuto">
                <input type="hidden" name="program" value="/cgi-bin/mapserv">
                <input type="hidden" name="map_web" value="template example2-3.html">
                <input type="hidden" name="map" value="/mstu/htdocs/example2.map">
                <input type="hidden" name="imgext" value="165660.954849 -371954.000000 1506409.045151 632767.000000">
                <input type="hidden" name="imgxy" value="200.0 150.0">
                <table width="600" border="0" align="center">
                    <tr>
                        <td>
                            <table width="400" border="1" align="center">
                                <tr>
                                    <td colspan="3">Select Layers:
                                        <!-- SPECIFY VECTOR LAYERS -->
                                        <input type="checkbox" name="layer" value="states" checked>State Boundaries&nbsp;
                                        <input type="checkbox" name="layer" value="hydro" >Water Features &nbsp;<br>
                                        <input type="checkbox" name="layer" value="roads" >Roads<br>

                                        <!-- SPECIFY RASTER LAYERS -->
                                        Select Background:
                                        <select name="layer">
                                            <option value=" " >No Background</option>
                                            <option value="modis_jpl" >
                                            Daily MODIS Image (JPL)</option>
                                            <option value="modis" >
                                            MODIS Surface Reflectance</option>
                                            <option value="relief" >
                                            Shaded Relief</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <!-- SPECIFY MAP MODE -->
                                        <div align="center">Map Mode:<br>
                                            <select name="mode">
                                                <option value="browse" >Browse</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- FORM SUBMIT BUTTON -->
                                        <div align="center">
                                            <input type="submit" name="submit" value="Refresh">
                                        </div>
                                    </td>
                                    <td>
                                        <!-- ZOOM/PAN CONTROLS -->
                                        <div align="center">Map Control: <br>
                                            <select name="zoom">
                                                <option value="4" >Zoom In 4x</option>
                                                <option value="3" >Zoom In 3x</option>
                                                <option value="2" >Zoom In 2x</option>
                                                <option value="1" >Recenter</option>
                                                <option value="-2" >Zoom Out 2x</option>
                                                <option value="-3" >Zoom Out 3x</option>
                                                <option value="-4" >Zoom Out 4x</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- DISPLAY THE MAPSERVER-CREATED MAP IMAGE -->
                                    <td colspan="3" align="center" valign="top">
                                        <input type="image" name="img"
                                               src="http://159.226.123.26//ms_tmp/EX2_14225129499200.png" width="400"
                                               height="300" border="0">
                                        <table border="0" width="400" align="center">
                                            <!-- DISPLAY THE SCALE BAR -->
                                            <tr>
                                                <td align="right"><img
                                                        src="http://159.226.123.26//ms_tmp/EX2_sb14225129499200.png">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </form>
            <hr>
            <p><!--Here's the mapfile-->这里是对应文件:<br>
                <iframe width="100%" src="example2.map"></iframe>
            </p>

            <p><!--You can view the-->你可以在这里看到 <a href="example2-3_template.html">HTML Template <!--source code here.-->
                源代码</a></p>
            <hr>
            <p class="Small" align="center">
                <a href="example2-2.html">
                    Back to Example 2.2</a>

                |

                <a href="section2.html">Back to Section 2</a>
                |
                <a href="sections.html">Back to the Sections Page</a>
                |
                <a href="example2-4.html">
                    Proceed to Example 2.4
                </a></p>
        </td>
    </tr>
</table>{% end %}
