{% extends "../../../../theme/content.html" %}

{% block content %}

<div class="content">


    <div class="single">

          <h3 align="center"><!--Example 1.7: Adding OGC WMS Layers-->例1.7：添加OGC WMS图层</h3>
          <div align="center">
	    <img border="1" src="http://159.226.123.26/cgi-bin/mapserv?map=/mstu/htdocs/example1-7.map&layers=states+states_label+modis_jpl&mode=map" />
          </div>
          <p align="left"><!--Another exciting feature of MapServer is its ability
            to use layers from other map servers. In this case, a MapServer
            application becomes a WMS (or WFS) client. MapServer can also share
            (or serve up) the layers in the mapfile to other map servers. This
            makes an application a WMS (or WFS) server. What is WMS or WFS?
            These are "web-based interoperability service" specifications
            published by the Open Geospatial Consortium (OGC). WMS stands for
            Web Map Service and WFS for Web Feature Service. The difference
            between these two specifications, in simple terms, is that WMS uses
            web raster formats (PNG, GIF, JPEG) to share layers while WFS uses
            GML, the Geography Markup Language. A third OGC interoperability
            specification is the Web Coverage Services specification or
            WCS--MapServer supports this at the server level only. To find more
            information about WMS, WFS, and WCS go the the-->
              MapServer的另一项令人兴奋的功能是它能够使用从其他地图服务器层。在这种情况下，MapServer的应用程序成为WMS（WFS）客户端。MapServer的也可以分享（或服务）的映射文件中的图层到其他地图服务器。这使得应用程序的WMS（WFS）服务器。 WMS或WFS是什么？这些都是“基于网络的互操作性服务”规范由开放地理空间联盟（OGC）出版。WMS代表的网络地图服务和WFS Web要素服务。这两种规格之间的差异，简单来说，就是WMS使用网络光栅格式（PNG，GIF，JPEG）分享层，而世界粮食首脑会议使用地理标记语言GML。第三OGC互操作规范是网络覆盖服务规范或WCS - ，MapServer的支持仅在服务器级别。为了找到WMS，WFS和WCS的更多信息，清点击：
            <a href="http://www.opengeospatial.org">
              OGC's web site</a> 和查找
            <a href="http://www.opengeospatial.org/standards/profile">
              OGC Implementation Specifications</a> 或者
            <a href="http://www.opengeospatial.org/standards/as">
              OGC Abstract Specifications</a>. <!--The MapServer web site also has-->MapServer的网站还有
            <a href="http://www.mapserver.org/ogc/index.html">
              documentation</a> <!--for these specifications.-->这些规范
          </p>
          <p align="left"><!--This example shows you how to add a WMS layer in your
            mapfile.-->这个例子告诉你如何在你的映射文件中添加一个WMS层。
          </p>
          <hr>
          <p align="left"><!--This is what the mapfile looks like (Example1-7.map):-->
              下面是本例中使用的Mapfile（Example1-7.map）：
            <br>

              <pre class="brush:py">
# The annotated map file (sort of)
# Created by Pericles S. Nacionales for the MapServer tutorial
# 20050408
#
# MapServer map file uses the pound sign (#) to denote the start of a line
# comment--each line that needs to be commented has to be prepended with a "#".
#
# Map files begin with MAP keyword to signify the start of the map object.
# Well, the entire map file is THE map object.  Enclosed between MAP and END
# at the very bottom of this map file, are keyword/value pairs and other
# objects.带注释的地图文件（排序）创建者，
# MapServer的教程20050408 MapServer的地图文件伯里克利S.
# NACIONALES的的使用井号（＃）来表示一个行注释的开始 - 每一行需要被注释掉前面与一个“＃”。
# 地图文件开始与MAP关键字来表示地图对象开始。那么，整个地图文件是地图对象。最底部本地图文件，地图和END之间封闭的关键字/值对和其他对象。
MAP
  IMAGETYPE      PNG24
  EXTENT        201621.496941 -294488.285333 1425518.020722 498254.511514 # LAEA
  #EXTENT         -97.5 41.619778 -82.122902 49.38562 # Geographic
  SIZE           400 300
  SHAPEPATH      "../data"
  SYMBOLSET      "../symbols/symbols35.sym"
  FONTSET        "../fonts/fonts.list"

  # The projection object is typically used within the map and the layer
  # objects. You only define it once within the map object and this definition
  # becomes your output projection--MapServer will render your maps in this
  # projection.  You also use the projection object within the layer object to
  # define your input projection.  Your layers can be in different
  # projections--MapServer will reproject them into your output projection.
  # If no projection is defined within the layer object, MapServer assumes
  # your input projection is the same as your output projection.  This is not
  # a required object unless you're creating a map file that supports one of
  # the OGC interoperability web services specifications (WMS/WFS/WCS).
  # 通常使用的投影对象内的地图和层对象。
  # 你只定义一次在地图对象，这个定义成为你的输出投影 - 这一预测的MapServer将呈现您的地图。
  # 您也可以使用投影对象层内的对象来定义你的输入投影。
  # 你的层可以在不同的预测 - ，MapServer的将它们重新投影到输出投影。
  # 层内的对象，如果没有定义投影的MapServer假设您的输入投影输出投影一样。
  # 这是不是一个必需的对象，除非你创建一个映射文件，支持OGC互操作的Web服务规范（WMS/ WFS/ WCS）。
  #
  # This is the output PROJECTION definition ------
  PROJECTION
    # Projection parameters can be defined in two ways...
    # This is the traditional Proj.4 definition of Lambert Azimuthal Equal-Area
    # projection for the Continental U.S.这是输出投影定义------有两种方式可以定义投影投影参数...这是美国大陆兰勃特方位等面积投影的传统PROJ.4定义
    #  "proj=laea"
    #  "ellps=clrk66"
    #  "lat_0=45"
    #  "lon_0=-100"
    #
    # Alternatively, you can specify an EPSG code.
    # This is the EPSG code for Lambert Azimuthal Equal-Area
    # projection for the U.S.Web对象的定义在地图下方的对象。这个对象中定义的所有网络相关的参数（我交换“参数”和“关键字/值对”相当频繁，我们对此深感抱歉）。
    "init=epsg:2163"
 END

  # The web object is defined at the level below the map object.  All
  # web-related parameters (I interchange "parameters" and "keyword/value
  # pairs" quite frequently, sorry about that) are defined in this object.Web对象的定义在地图下方的对象。这个对象中定义的所有网络相关的参数（我交换“参数”和“关键字/值对”相当频繁，我们对此深感抱歉）。
  WEB
    IMAGEPATH "/ms4w/tmp/"
    IMAGEURL  "/tmp/"
  END

  # Layer objects are defined beneath the map object.  You need at least one
  # layer defined in your map file before you can display a map...  You can
  # define as many layers as you'd like although a limit is typically hard-coded
  # in map.h in the MapServer source.  The default limit is set at 100.  You'd
  # have to have a very specialized application to need more than 100 layers in
  # your application.层对象定义地图下方的对象。您可以在地图文件定义需要至少一层，然后才可以显示在地图...您可以定义为多层次，只要你愿意，虽然限制通常是硬编码在map.h MapServer的源。默认的限额设定为100。你得有一个非常特殊的应用程序需要在你的应用程序超过100层。
  #
  # Start of LAYER DEFINITIONS层定义开始 ---------------------------------------------
  LAYER # States polygon layer begins here
    NAME         states
    DATA         states_ugl
    STATUS       OFF
    TYPE         POLYGON

    # Here's an example of the input projection definition.
    # EPSG:4326 is code for geographic (latlong) projection
    # using the WGS84 datum.下面是一个例子输入投影定义。EPSG：4326是地理位置（经纬度）投影用WGS84数据的代码。
    #
    # PROJECTION objects within the LAYER object define the input
    # projection--this is the native projection of your data.投影对象层对象定义输入投影 - 这是您的数据的本地投影。
    PROJECTION
      "init=epsg:4326"
    END

    # CLASSITEM defines the non-spatial attribute that you will be using to
    # separate a layer into classes.  This attribute will be in the DBF file
    # of your shapefile (it will be different for each data format).  In this
    # example the shapefile states_ugl has an associated database
    # (states_ugl.dbf) that contains an attribute called "CLASS".  You will be
    # using two values in the CLASS attribute to separate the classes (also
    # called themes) used in this layer--land and water.  CLASSITEM is used in
    # association with the EXPRESSION parameter in the CLASS object.  See below.CLASSITEM非空间属性，你将使用分离层类定义。此属性将是你的shape文件中的DBF文件（每种数据格式会有所不同）。在这个例子中的shapefile states_ugl都有一个关联的的数据库（states_ugl.dbf），它包含一个被称为“类”的属性。您将使用两个值中的CLASS属性，在这一层的类（也称为主题） - 土地和水分开。CLASSITEM与类对象中的表达参数。见下文。
    CLASSITEM    "CLASS"

    # The class object is defined within the layer object.  You can define as
    # many classes as you need (well, there are limits as with layers, but it's
    # senseless to define more than ten on a "normal" layer.  There are
    # situations, however, where you might have to do it.)类对象的定义层内的对象。你可以定义你需要的尽可能多的参加
    CLASS
      NAME 'States'
      EXPRESSION 'land'

      # There are styles in a class, just like there are classes in a layer,
      # just like there are layers in a map.  You can define multiple styles in
      # a class just as you can define multiple classes in a layer and multiple
      # layers in a map.有一类的风格，就像有一层中的类，就像是在一个地图中的层。您可以定义多个样式的一类，就像你可以定义多个类，在一层和多层的地图。
      STYLE
        COLOR      232 232 232
      END
    END
  END # States polygon layer ends here

  # In addition to vector data (shapefiles are vector data), MapServer supports
  # a host of raster formats.  In GIS world, one of the most common raster
  # formats is GeoTIFF, a TIFF image with geospatial headers.  MapServer also
  # supports JPEG, PNG, GIF, and other common formats.  Other raster formats
  # supported by MapServer include ESRI Arc/Info grid, HDF and HDF-EOS, NetCDF,
  # Generic raster binaries, OGC Web Map Service (WMS) layers, etc.  Pretty much
  # any raster format you can think of is probably supported, thanks to the
  # impressive Geospatial Data Abstraction Library (GDAL, pronounced "GOODALL"
  # or GOODLE?).  More information on GDAL is available at http://www.gdal.org.
  # 除了矢量数据（shapefile是矢量数据），地图服务器支持的光栅格式的主机。
  # 在GIS中的世界，一个最常见的光栅格式为GeoTIFF，TIFF影像与地理头。
  # 地图服务器还支持JPEG，PNG，GIF等常见格式。其他光栅格式MapServer的支持，
  # 包括ESRI ARC / INFO电网，HDF和HDF-EOS，NetCDF文件，通用光栅二进制，
  # OGC Web地图服务（WMS）层等光栅格式几乎任何你能想到的可能是支持，
  # 感谢令人印象深刻的地理空间数据抽象库（GDAL，发音为“大家好好”或Goodle的？）。的更多信息GDAL在http://www.gdal.org
  #
  # MapServer 4.x can read and display bitmapped (like GIFs), RGB/A (true
  # color), and multispectral (images with more than 3 bands, like raw LandSat
  # images) rasters.MapServer的4.x版可以读取并显示位图（如GIF格式），RGB/ A（真彩色），和多光谱栅格（超过3个波段的图像，喜欢生吃的LandSat图像）。

  LAYER # MODIS raster layer begins here
    NAME         modis
    DATA         "raster/mod09a12003161_ugl_ll_8bit.tif"
    STATUS       OFF
    TYPE         RASTER
    PROCESSING   "BANDS=1,2,3"
    OFFSITE      71 74 65

    PROJECTION
      "init=epsg:4326"
    END
  END # MODIS raster layer ends here

  # MapServer can consume (in ESRI parlance) layers from other map servers as
  # long as those servers are Web Mapping Service (WMS) providers.  WMS is a
  # web service specification from Open Geospatial Consortium (OGC) and is
  # intended to be an interoperability standard for web mapping applications.
  # This allows us to display layers we don't usually have (or can't store in
  # our computers due to space limitations).  The downside is that we have to
  # depend on some other server to display our layer, and that server can be
  # down when you really need it.  The cool thing is that JPL has a WMS server
  # that serves out MODIS and LandSat maps for the whole world--try storing
  # those datasets on your computer!MapServer的消费层（ESRI的说法）等地图服务器，只要这些服务器是Web地图服务（WMS）供应商。WMS是一个由开放地理空间联盟（OGC）的Web服务规范的目的是为Web制图应用程序的互操作性标准。这使我们能够显示层，我们通常不（或不能存储在我们的电脑中，由于空间的限制）。不足之处是，我们必须依赖其他服务器上，以显示我们的层，并且该服务器可当你真的需要它。很酷的事情是，JPL有一个WMS服务器提供MODIS和Landsat对整个世界的地图 - 尝试将这些数据集存储在您的电脑上！
  LAYER # MODIS WMS map from JPL
    NAME         modis_jpl
    TYPE         RASTER
    OFFSITE      0 0 0
    STATUS       OFF
    CONNECTIONTYPE WMS
    CONNECTION "http://wms.jpl.nasa.gov/wms.cgi?"

    METADATA
      "wms_srs" "EPSG:4326"
      "wms_name" "modis"
      "wms_server_version" "1.1.1"
      "wms_format" "image/jpeg"
    END

    PROJECTION
      "init=epsg:4326"
    END
  END # Modis WMS image ends here

  LAYER # States line layer begins here
    NAME         states
    DATA         states_ugl
    STATUS       OFF
    TYPE         LINE

    PROJECTION
      "init=epsg:4326"
    END

    CLASSITEM    "CLASS"
    CLASS
      NAME       'State Boundary'
      EXPRESSION 'land'
      STYLE
        SYMBOL     'line5'
        COLOR      32 32 32
        SIZE       1
      END
    END
  END # States line layer ends here

  LAYER # States label layer begins here
    NAME         states_label
    DATA         states_ugl
    STATUS       OFF
    TYPE         ANNOTATION

    PROJECTION
      "init=epsg:4326"
    END

    CLASSITEM    "CLASS"

    # Just like CLASSITEM, LABELITEM defines the database attribute that you
    # will be using to draw labels.  In this case, the values of the attribute
    # "STATE" will be used to label the states polygons.就像CLASSITEM一样，LABELITEM定义数据库的属性，你将被用来绘制标签。在这种情况下，“STATE”属性的值将被用于标记的状态的多边形。
    LABELITEM    "STATE"

    CLASS
      EXPRESSION 'land'
      STYLE
        COLOR      -1 -1 -1
      END

      # There can be labels in a class, just like there are classes in a layer,
      # just like there are layers in a map.  You can define multiple labels in
      # a class just as you can define multiple classes in a layer and multiple
      # layers in a map.
      # MapServer has a very flexible labeling system.  With that flexibility
      # comes complexity, specially when using truetype fonts.  Please read
      # through the LABEL section of the MapServer map file documentation at
      # http://www.mapserver.org/mapfile for more information.在一个类可以是标签，就像有班在一层，就像是在一个地图的层。您可以定义多个类的标签，就像你可以定义多个类，在一层和多层的地图。MapServer的有一个非常灵活的标签制度。与灵活性来的复杂性，特别是当使用TrueType字体。请通读LABEL段的MapServer地图文件文档http://www.mapserver.org/mapfile更多信息。
      LABEL
        COLOR 132 31 31
        SHADOWCOLOR 218 218 218
        SHADOWSIZE 1 1
        TYPE TRUETYPE
        FONT arial-bold
        SIZE 12
        ANTIALIAS TRUE
        POSITION CL
        PARTIALS FALSE
        MINDISTANCE 200
        BUFFER 4
      END # end of label
    END # end of class
  END # States label layer ends here
  # End of LAYER DEFINITIONS 层定义结束-------------------------------

END # end of map file地图文件结束

    </pre>
          </p>
          <hr align="center" width="300">
          <p><!--Let's have a look at the WMS layer:-->让我们看看在WMS层：</p>
          <p><!--LAYER # MODIS WMS map from JPL-->来自JPL层＃MODIS WMS地图<br>
            <!--Marks the start of the WMS LAYER object.-->标志着开始的WMS层对象。
          </p>
          <p>NAME modis_jpl<br>
            <!--The LAYER identifier.-->层标识符。
          </p>
          <p><!--TYPE RASTER-->栅格类型<br>
            <!--Since this the WMS layer is an image, we use RASTER as LAYER TYPE.-->由于这WMS图层的图像，我们使用光栅层型
          </p>
          <p>OFFSITE 0 0 0 <br>
            <!--Ignore the black background color-->忽略黑色的背景颜色
          </p>
          <p> STATUS OFF<br>
            <!--Turn this layer off by default.-->打开这层默认关闭。
          </p>
          <p>CONNECTIONTYPE WMS<br>
            <!--The type of LAYER connection to use. The default is LOCAL--if we
            have to be explicit, we would add CONNECTIONTYPE LOCAL to all other
            vector and raster layers in our mapfile. Instead we only define
            connection types that are external. WMS is an external data layer,
            coming from another map server.-->他输入层连接使用。默认为本地 - 如果我们必须要明确的，我们将增加本地的所有其他矢量和栅格图层在我们的映射文件CONNECTIONTYPE。相反，我们只定义是外部的连接类型。WMS是一个外部的数据层，来自其他地图服务器。
          </p>
          <p>链接"http://mapus.jpl.nasa.gov/wms.cgi?"<br>
            <!--The connection string that allows us to &quot;get&quot; the data
            from another server. In the case of WMS connections, this is a URL.
            If we were using a PostGIS database, it would be an SQL statement.
            Please note that the string has to be in a single line in your
            mapfile.-->连接字符串，使我们能够从另一台服务器上的数据“搞定”。在WMS连接的情况下，这是一个URL。如果我们用的是PostGIS数据库，这将是一个SQL语句。请注意字串是在一个单一的线在你的映射文件。
          </p>
          <p><!-- METADATA-->元数据<br>
            <!--marks the beginning of the METADATA object for our WMS layer.
            MapServer uses the parameters defined within this object along with
            the CONNECTION parameter above to form a valid WMS request to the
            WMS server.-->标志着我们的WMS层的元数据对象。MapServer的使用此对象定义的参数，以及与上述连接参数，以形成有效的WMS请求WMS服务器。
          </p>
          <p>&quot;wms_srs&quot; &quot;epsg:4326&quot;<br>
            <!--The WMS projection.  Sometimes the WMS server supports more than one
            projection.  If this is the case you might want to request the map
            in your output projection (epsg:2163).  Unfortunately, the JPL
            server doesn't support this projection.-->WMS投影。有时WMS服务器支持多个投影。如果是这样的话，你可能会想要求你的输出投影（EPSG：2163）地图。不幸的是，喷气推进实验室的服务器不支持这一预测。
          </p>
          <p>&quot;wms_name&quot; &quot;modis&quot;<br>
            <!--The WMS layer name. This is like adding the parameter-->WMS图层名称。这就像是添加参数
            &quot;layers=modis&quot;.
          </p>
          <p>&quot;wms_server_version&quot; &quot;1.1.1&quot;<br>
            <!--The WMS version the server complies to. MapServer adheres to version
            1.1.1.-->WMS版本的服务器符合。MapServer的坚持到1.1.1版本。
          </p>
          <p>&quot;wms_format&quot; &quot;image/jpeg&quot; <br>
            <!--The image format we expect to be receiving from the WMS server.  You
            can try replacing the value with &quot;image/png&quot; or something
            else.-->图像格式，我们预计接收来自WMS服务器。你可以试试“图像/ PNG”或其他东西取代的价值。
          </p>
          <p>END<br>
            <!--marks the end of the METADATA object-->标志着年底的元数据对象
          </p>
          <p><!--To know more about adding WMS layers to your applications, please
            visit the-->要知道更多关于WMS图层添加到您的应用程序，请访问
            <a href="http://www.mapserver.org/ogc/wms_client.html">
              <!--WMS Client HOW-TO document-->WMS客户端如何来记录</a>.
          </p>
          <hr align="center" width="300">
          <p><!--In addition to adding the WMS layer object, there's also a new
            object under MAP. This is the WEB object. Within the WEB object are
            two parameters:-->除了加入WMS图层对象，也有地图的下一个新的对象。这是Web对象。在Web对象有两个参数：
          </p>
          <p> IMAGEPATH '/data/tmp/'<br>
            <!--The absolute local path to a web accessible temporary directory. The
            user running the web server processes should be able to write to
            this directory. Make sure that the path includes a slash (/) at the
            end. (Your IMAGEPATH might look something like this:-->本地绝对路径到Web访问的临时目录。运行Web服务器进程的用户应该能够写入到这个目录中。确保该路径包含在最后一个斜杠（/）。（你的IMAGEPATH可能是这个样子：
            &quot;/home/apache/htdocs/tmp/&quot; or
            &quot;C:/Inetpub/wwwroot/tmp/&quot;.)
          </p>
          <p>IMAGEURL '/tmp/' <br>
            <!--This is how IMAGEPATH will appear relative to the web server's root
            directory. If we have to type the full URL for this, it will be-->这是怎么IMAGEPATH会出现相对Web服务器的根目录。如果我们必须输入完整的URL，这将是
            &quot;http://terrasip.gis.umn.edu/tmp/&quot;. <!--Make sure that the
            path includes a slash (/) at the end.-->请确保路径包含在最后一个斜杠（/）。
          </p>
          <p><!--Finally, within the MAP object, I added a new parameter: NAME. This
            is the identifier for the MAP object. MapServer uses this as prefix
            to all images it creates and dumps to the &quot;tmp&quot; directory.
            It's not needed at this point but it also doesn't hurt to have it.-->最后，在地图对象，我添加了一个新的参数：名称。这是地图对象的标识符。MapServer的使用这个前缀的所有图像创建和转储“tmp”的目录。它并不需要在这一点上，但它也不会伤害到它。
          </p>
          <hr align="center" width="300">
          <p><!--If you would like to share your data layers to other map servers,
            you will need to add METADATA objects within your MAP object and
            within each of the LAYER objects you would like to share. All the
            WMS layers that you added from another server will automatically be
            cascaded and will also become available to others. To know more
            about how to make your MapServer application become a WMS server,
            please read the-->如果您想分享您的数据层到其他地图服务器，你需要在你的地图对象添加元数据对象，并在每个层对象，你想和大家分享。所有WMS图层您添加从另一台服务器会自动进行级联，也将成为提供给他人。要知道如何使MapServer的应用程序成为一个WMS服务器的详细信息，请仔细阅读
            <a href="http://www.mapserver.org/ogc/wms_server.html">
              <!--WMS Server HOW-TO documentation</a>. Documentations also exist for
            configuring MapServer application to support the WFS standard,
            both as a-->WMS服务器文档</a>。单证也存在配置MapServer的应用程序，以支持世界粮食首脑会议的标准，无论是作为
            <a href="http://www.mapserver.org/ogc/wfs_server.html">
             <!-- WFS server</a> and as a-->WFS服务器</ a>，并作为
            <a href="http://www.mapserver.org/ogc/wfs_client.html">
              <!--WFS client</a>.-->WFS客户端</a>。
          </p>
          <hr>
          <p class="Small" align="center">
            <a href="example1-6.html">
              Back to Example 1.6
            </a> |
            <a href="section1.html">
              Back to the Section 1
            </a> |
            <a href="sections.html">
              Back to the Sections Page
            </a> |
            <a href="example1-8.html">
              Proceed to Example 1.8
            </a>
          </p>

        </div>
    </div>
{% end %}
