{% extends "../../../../theme/content.html" %}

{% block content %}

<div class="content">
    <div class="single">


          <h1 align="center">安装MapServer CGI程序及本教程</h1>

        <div class="entry">
<p>说明：本页说明针对的是下载的英文版，中文版暂不提供下载，中文版有部分内容与英文版本也有出入，使用时请注意。</p>

      <p>Before you can actually go through the tutorial, you'll need to make sure you have your web server running and the MapServer CGI program (mapserv or mapserv.exe) installed in your &quot;cgi-bin&quot; directory. For those working in Microsoft Windows environment, it is recommended that you use the <a href="http://www.maptools.org/ms4w/">MapServer for Windows (MS4W)</a> package.  This is a complete web mapping environment for Windows and includes the Apache web server, GDAL, Proj.4, MapServer, and all required libraries and useful utilities.
      </p>
      <p>To install the tutorial under MS4W, simply unzip the tutorial.zip archive to C:\ (or whichever drive MS4W is installed) and restart the web server. The tutorial files will be installed under \ms4w\apps\tutorial and an Apache configuration snippet will be installed as \ms4w\httpd.d\httpd_tutorial.conf.
      </p>
      <p>For those who are already familiar with web programming, you can also try to compile MapServer yourself.  Windows developers can compile MapServer by following the <a href="http://www.mapserver.org/installation/win32.html">Compiling on Win32</a> howto. If you don't have a compiler or don't want to waste precious time compiling MapServer (and libraries), just download from one of the sites mentioned above.</p>

      <p>For Unix and Unix-like operating systems, you can search google for binary distribution for your particular platform.  If nothing turns up, you can always ask the MapServer-Users mailing list if such binaries exist.  If all else fail, you'll have to compile MapServer and the associated libraries.  The compilation and installation how-to for Unix is available at <a href="http://www.mapserver.org/installation/unix.html">http://www.mapserver.org/installation/unix.html</a>.

      <p>Assuming you've got the MapServer CGI program, follow the steps below
        to install: (note that MS4W users already have the following configured, and can proceed to the tutorial)</p>
      <table width="100%" border="0" cellspacing="2" cellpadding="2">
        <tr align="left" valign="top">
          <td><strong>1a.</strong></td>
          <td> <p>If compiled in Unix, just copy the binary &quot;mapserv&quot; to your &quot;cgi-bin&quot; directory. On a locally compiled Apache server this will be on &quot;/usr/local/apache/cgi-bin/&quot; or /usr/local/apache2/cgi-bin&quot;. If your web server comes as part of your OS distribution, look for the &quot;cgi-bin&quot; directory or consult your OS's documentation.<br>
          &nbsp;</p></td>
        </tr>
        <tr align="left" valign="top">
          <td><strong>1b.</strong></td>
          <td><p> If you compiled on Win32 platform, copy the binary &quot;mapserv.exe&quot;
              to your &quot;cgi-bin&quot; or &quot;scripts&quot; directory. If
              you compiled the projection support for MapServer, copy the contents
              of &quot;proj-4.4.7\nad&quot; subdirectory to &quot;C:\Proj\nad&quot;.
              You'll also need to copy all your supporting libraries to a directory
              that's part of your system PATH. This would typically be &quot;C:\Windows\System&quot;
              or &quot;C:\Winnt\System32&quot; but you can always add a different
              directory in your system (not user) path. If your web server is
              Apache, the &quot;cgi-bin&quot; directory is typically in &quot;C:\Program
              Files\Apache Group\Apache\cgi-bin&quot;. If you are using Microsoft
              IIS, the &quot;cgi-bin&quot; directory is typically called &quot;scripts&quot;
              and is located in &quot;C:\Inetpub\scripts&quot;. As with Unix,
              consult your web server's documentation for more information about
              &quot;cgi-bin&quot; and CGI programs.<br>
              &nbsp;</p></td>
        </tr>
        <tr align="left" valign="top">
          <td><strong>1c.</strong></td>
          <td><p> If you are using Win32 binaries downloaded from the MapServer
              web site, unzip the package to &quot;C:\MapServer&quot;. From &quot;C:\MapServer&quot;
              copy &quot;mapserv.exe&quot; to your &quot;cgi-bin&quot; directory.
              In Apache this would typically be &quot;C:\Program Files\Apache
              Group\Apache\cgi-bin&quot; and in Microsoft IIS it is &quot;C:\Inetpub\scripts&quot;.
              Copy the files from &quot;C:\MapServer\lib&quot; to C:\Windows\System
              or C:\Winnt\System32, whichever is appropriate for your Windows
              version. (Alternatively, you can edit your system PATH to include
              &quot;C:\MapServer\lib&quot;. In this way you don't have to copy
              the library files to your system directory.) Move &quot;C:\MapServer\Proj&quot;
              to &quot;C:\Proj&quot;. This is required for projection support.
              As with Unix, consult your web server's documentation for more information
              about &quot;cgi-bin&quot; and CGI programs.<br>
              &nbsp;</p></td>
        </tr>
        <tr align="left" valign="top">
          <td><strong>2.</strong></td>
          <td><p>Test to make sure that your MapServer CGI program is working.
              With your web server running, open this URL on a web browser: http://localhost/cgi-bin/mapserv?
              (on *nix) or http://localhost/cgi-bin/mapserver.exe? or http://localhost/scripts/mapserver.exe?
              (on Windows). You should get the following message:</p>
            <p>No query information to decode. QUERY_STRING is set, but empty.
            </p>
            <p>This means that MapServer is working but you haven't supplied it
              with anything to process. If you've gotten this far and you've got
              a different message than above, the first thing to do is to check
              your error log and see what cause the message to appear. This typically
              means that you are missing your library files (dll's). Rectify the
              problem if you can, or check the <a href="http://www.mapserver.org/faq.html">MapServer
              FAQ</a>. Failing that, check the <a href="http://n2.nabble.com/MapServer-f1969210.html">MapServer
              Users mailing list archives</a>, and if the archive isn't helpful,
              send an e-mail to the <a href="http://lists.osgeo.org/mailman/listinfo/mapserver-users">MapServer
              Users mailing list</a> (you must be subscribed to send e-mail to
              the list).<br>
              &nbsp;</p></td>
        </tr>
        <tr align="left" valign="top">
          <td><strong>3.</strong></td>
          <td><p>If you downloaded a copy of the tutorial, change the name of
              &quot;mapserv&quot; or &quot;mapserv.exe&quot; to &quot;mapserv50&quot;
              or &quot;mapserv50.exe&quot;. The other option is to change each
              occurence of &quot;mapserv50 &quot;or &quot;mapserv50.exe&quot;
              back to &quot;mapserv&quot; or &quot;mapserv.exe&quot; in the example
              files--a very tedious process. This tells you that you can rename
              the MapServer CGI binary to whatever you want. It isn't recommended
              but if you run several versions of MapServer on the same machine,
              you really don't have a choice.<br>
              &nbsp;</p></td>
        </tr>
        <tr align="left" valign="top">
          <td><strong>4.</strong></td>
          <td><p> If you downloaded the MapServer tutorial, the easiest way to
              install it is to unzip the archive to your web server's document
              root directory--that's the &quot;htdocs&quot; directory in Apache
              or &quot;C:\Inetpub\wwwroot&quot; in IIS. You will then have to
              edit your html files to change every occurence of &quot;map=/data/projects/tutorial/example*.map&quot;
              to &quot;map=/your/htdocs/directory/tutorial/example*.map&quot;
              (Example: for example1-1.html, you'd change the occurence of &quot;map=/data/projects/tutorial/example1-1.map&quot;
              to &quot;map=C:/Inetpub/wwwroot/tutorial/example1-1.map&quot;) The
              &quot;*&quot; means change whatever character/s follow after &quot;example&quot;.
              You can make this changes as you go through the examples.<br>
              &nbsp;</p>
            </td>
        </tr>
        <tr align="left" valign="top">
          <td><strong>5.</strong></td>
          <td><p> You need to make a &quot;tmp&quot; directory and the easiest
              way is to create &quot;tmp&quot; directory within Apache's &quot;htdocs&quot;
              directory or IIS's &quot;wwwroot&quot; directory. You want to make
              sure that your web server user account (that's usually &quot;nobody&quot;
              in Unix and &quot;IUSR_MACHINENAME&quot; in IIS--MACHINENAME is
              the name of your computer). For security, You also want to make
              sure that users don't have execute permission in this directory.
              (In Unix and while working as &quot;root&quot;, run the commands
              &quot;chmod a+w /your/htdocs/directory/tmp&quot; and &quot;chmod
              a-x /your/htdocs/directory/tmp&quot;. In Windows, you can use IIS
              management console to change the permissions.) You will then need
              to change the value of every occurence of the IMAGEPATH mapfile
              keyword from &quot;/data/tmp/&quot; to &quot;/your/htdocs/directory/tmp/&quot;
              (or in Windows, &quot;C:/your/htdocs/directory/tmp&quot; or &quot;C:/Inetpub/wwwroot/tmp&quot;).<br>
              &nbsp;</p></td>
        </tr>
      </table>
      <p>If you followed the directions up to this point you can now begin your
        journey into the MapServer realm... Good luck! </p>
      <p align="center"><b><a href="sections.html">回到教程</a>&nbsp;&nbsp;
        | &nbsp;&nbsp;<a href="download.html">下载教程</a></b></p>

</div>
    </div>
</div>
{% end %}
