BODY
{ font-family   : "微软雅黑", "宋体", Times, TimesNR, 'New Century Schoolbook', 'New York', serif;
    font-size   : 10pt;
    margin-left : 10px; margin-right : 10px;
    margin-top  : 5px; margin-bottom : 5px }

H1
{ font-family : "微软雅黑", "宋体", Times, TimesNR, 'New Century Schoolbook', 'New York', serif, serif;
    font-size : 28pt; 
    color : rgb(128, 0, 0) }

H2
{ font-family : "微软雅黑", "宋体", Times, TimesNR, 'New Century Schoolbook', 'New York', serif, serif; font-size : 16pt }

H3
{ font-family : "微软雅黑", "宋体", Times, TimesNR, 'New Century Schoolbook', 'New York', serif, serif; font-size : 14pt }

H4
{ font-family : "微软雅黑", "宋体", Times, TimesNR, 'New Century Schoolbook', 'New York', serif, serif; 
font-size : 12pt ;
margin-top:12px;
margin-bottom:2px;
padding:0 auto;
}


div, P
{ font-family : "微软雅黑", "宋体", Times, TimesNR, 'New Century Schoolbook', 'New York', serif, serif; font-size : 10pt }

.Indent
{ text-indent : 20px }

.Teal
{ color : rgb(0, 128, 128) }

.Maroon
{ color : rgb(128, 0, 0) }

.Small
{ font-size : 8pt }

I, EM, ADDRESS
{ font-family : "微软雅黑", "宋体", Times, TimesNR, 'New Century Schoolbook', 'New York', serif, serif }

B, STRONG
{ font-family : "微软雅黑", "宋体", Times, TimesNR, 'New Century Schoolbook', 'New York', serif, serif }

TD, TR
{ font-family : "微软雅黑", "宋体", Times, TimesNR, 'New Century Schoolbook', 'New York', serif, serif; font-size : 10pt }

TH
{ font-family : "微软雅黑", "宋体", Times, TimesNR, 'New Century Schoolbook', 'New York', serif, serif; font-size : 12pt; font-weight : bold }

.mainbody
{ width : 800px; margin : 0 auto; }

pre
{background-color: #FCFCFC;
padding:8px;
border-top: 1px dashed #0044dd;
border-bottom: 1px dashed #0044dd;}