{% extends "../../../../theme/content.html" %}

{% block content %}

<h3 align="center">MapServer with PostGIS layers</h3>

<!-- START OF MAPSERVER FORM -->
<form name="mapserv" method="GET" action="/cgi-bin/mapserv.exe">

<table width="600" border="0" align="center">
  <tr>
    <td>
        <table width="600" border="1">
          <tr>
            <td colspan="4">Select Layers:<br>
<!-- SPECIFY VECTOR LAYERS -->
              <input type="checkbox" name="layer" value="states">
              State Boundaries&nbsp;
              <input type="checkbox" name="layer" value="counties">
              County Boundaries&nbsp;
              <input type="checkbox" name="layer" value="cities">
              Cities&nbsp;
              <input type="checkbox" name="layer" value="fedlands" >
              Federal/Indian Lands&nbsp;
              <input type="checkbox" name="layer" value="hydro" >
              Water Features&nbsp;
              <input type="checkbox" name="layer" value="roads">
              Roads<br>
              
<!-- SPECIFY RASTER LAYERS -->
              Select Background:<br>
              <select name="layer">
                <option value=" " >No Background</option>
                <option value="landsat">Landsat 7 ETM+</option>
                <option value="modis" >MODIS Surface Reflectance</option>
              </select>
            </td>
          </tr>
          <tr> 
            <td>

<!-- SPECIFY MAP MODE -->
              <div align="center">Map Mode:<br>
                <select name="mode">
                  <option value="browse">Browse </option>
                  <option value="query" >Query Single Layer</option>
                  <option value="nquery" >Query Multiple Layers</option>
                </select>
              </div>
            </td>
            <td>
<!-- FORM SUBMIT BUTTON -->
              <div align="center">
                <input type="submit" name="submit" value="Refresh">
              </div>
            </td>
            <td>
<!-- ZOOM/PAN CONTROLS -->
              <div align="center">Map Control: <br>
                <select name="zoom">
                  <option value="4">Zoom In 4x</option>
                  <option value="3" >Zoom In 3x</option>
                  <option value="2" >Zoom In 2x</option>
                  <option value="1" >Recenter</option>
                  <option value="-2">Zoom Out 2x</option>
                  <option value="-3">Zoom Out 3x</option>
                  <option value="-4">Zoom Out 4x</option>
                </select>
              </div>
            </td>
<!-- REFERENCE AND LEGEND COLUMN -->
            <td rowspan="2" valign="top"> 
              <p>Reference:<br>
                <img name="ref" src="[ref]"></p>
              <p>Legend:<br>
                <img src="[legend]"> </p>
            </td>
          </tr>
          <tr>
<!-- DISPLAY THE MAPSERVER-CREATED MAP IMAGE -->
            <td colspan="3" align="center" valign="top">
              <input type="image" name="img" src="[img]" width="[mapwidth]" height="[mapheight]" border="0" alt="This is the map">
            </td>
          </tr>
        </table>
        <p><strong>Mapfile:</strong> [map] &nbsp;&nbsp;<strong>Template:</strong> [map_web_template]</p>
        <p>Please have a look at the mapfile and HTML template file to
    </td>
  </tr>
</table>
<!-- HIDDEN MAPSERVER CGI VARIABLES -->
<input type="hidden" name="imgxy" value="[center]">
<input type="hidden" name="imgext" value="[mapext]">
<input type="hidden" name="map" value="[map]">
</form>
      <hr>
<p class="Small" align="center">
  <a href="/tutorial/sections.html">Back to the Sections Page</a>
</p>
{% end %}
