{% extends "../../../../theme/content.html" %}

{% block content %}


<div class="content">

    <div class="single">

        <h1 align="center">MapServer 6.x 教程</h1>

        <div class="entry">
            <h3 align="center">结合使用OpenLayers</h3>

            <p>说明：本部分为实验室进行OpenLayers学习与开发中添加上的，原英文教程中没有。此部分主要使用了MapServer发布的服务，故添加到本教程的后面。</p>

            <p><a href="sec6/example6-01.php">OpenLayers的使用</a></p>

            <p><a href="./sec6/example6-02.php">结合使用MapServer WMS服务与OpenLayers</a></p>

            <p> -- <a
                    href="http://159.226.123.26/cgi-bin/mapserv?map=/mstu/htdocs/sec6/examplebk.map&layer=states&mode=browse&template=openlayers">使用OpenLayers查看此地图</a>
            </p>


            <p><a href="./sec6/example6-3.html">结合使用MapServer WMS服务与OpenLayers</a></p>

            <p> -- <a
                    href="http://159.226.123.26/cgi-bin/mapserv?map=/mstu/htdocs/sec6/map.map&layer=st&mode=browse&template=openlayers">使用OpenLayers查看此地图</a>
            </p>

        </div>
    </div>
</div>

{% end %}
