{% extends "../../../../theme/content.html" %}

{% block headinfo %}

<title>开源WebGIS教程：MapServer 6.x第一部分静态地图与MapFile</title>
<meta name="keywords" content="MapServer,WebGIS,教程,地图服务,地图服务器">
<meta name="description" content="开源WebGIS教程：MapServer 6.x 教程第一部分静态地图与MapFile">

{% end %}


{% block content %}

<div class="content">
    <div class="single">

<h1 align="center">开源WebGIS教程：MapServer 6.x第1部分：静态地图与MapFile</h1>
        <div class="entry">



<h4>MapFile介绍</h4>
<div>开始之前，首先介绍一下MapFile的配置</div>
<div><a href=""></a></div>
<div><a href="mapfile_intro.html">MapFile介绍</a></div>

<h4>教程1.1</h4>
<div> 拿一个shape文件。任意的shape文件。我们可以使用MapServer来显示shape文件在web浏览器上。看...</div>

<div><a href="example1-1.html">教程1.1 - 只有一个图层的地图</a></div>


<h4>教程1.2</h4>
<div>我们可以重复的显示这个shape文件。我们可以显示多边形的属性在一个图层和显示一个线属性在另一个。</div>


<div><a href="example1-2.html">Example 1.2 - A map with two layers</a></div>

<h4>教程1.3</h4>
<div>我们可以选择shape文件的某些部分显示。我们做这个通过使用CLASS object。</div>


<div><a href="example1-3.html"> Example 1.3 - Using classes to make a &quot;useful&quot; map</a></div>

<h4>教程1.4</h4>

<div>我们同样也可以标记我们的地图。</div>
<div><a href="example1-4.html"> Example 1.4 - Labeling layers and label layers</a></div>

<h4>教程1.5</h4>

<div>或者我们可以添加我们的光栅数据例如卫星影像，航拍相片或者阴影浮雕。</div>
<!--Or add raster data such as satellite images, aerial photographs, or
            shaded reliefs-->
<div><a href="example1-5.html">Example 1.5- Adding a raster layer</a></div>

<h4>教程1.6</h4>

<div>我们可以重新投影我们的数据从任意投影到另一个...是啊，检查出来。</div>
<!--We can reproject our data from just about any projection to just
            about any...  Yeah, check it out!-->
<div><a href="example1-6.html">Example 1.6 - Projection/Reprojection</a></div>

<h4>教程1.7</h4>
<div>我们可以使用图层来自于其它互联网的服务器（只要它们是WMS服务）</div>
<div><a href="example1-7.html">Example 1.7- Adding a WMS layer</a></div>

<h4>教程1.8</h4>
<div>MapServer可以输出到各种格式例如PDF和GeoTIFF。</div>
<div><a href="example1-8.html"> Example 1.8 - A different output format</a></div>

<h4>教程1.9</h4>

<div>MapServer的不仅生成静态地图，它也可以创建交互式地图。</div>
<div>
    <a href="http://159.226.123.26/cgi-bin/mapserv?map=/opt/mstuto/mstuto/htdocs/example1-9.map&layer=states&layer=modis"
       target="_blank">
        示例 1.9- map与browse模式的区别
    </a></div>

<hr size="1">
<p class="Small" align="center">
    <a href="sections.html">Back to Sections Page</a> |
    <a href="example1-1.html">Proceed to the First Example</a> |
    <a href="section2.html">Go to Section 2</a>
</p>
</td>
</tr>
</table>

            </div>
        </div>
    </div>

{% end %}
