{% extends "../../../../theme/content.html" %}


{% block headinfo %}
<title>开源WebGIS系统MapServer 6.x 教程</title>
{% end %}

{% block content %}

<div class="content">

    <div class="single">

        <h1 align="center">MapServer 6.x 教程</h1>

        <div class="entry">

        <h3><a href="section1.html">第1部分：静态地图与MapFile</a></h3>
        <blockquote>
            <ul>
                <!--1.1 - Map with a single layer<br>-->
                <li/>
                1.1-地图只有一个图层。
                <!--1.2 - Map with two layers from a single shapefile<br>-->
                <li/>
                1.2-地图有两个来自同一个shape文件的图层。
                <!-- 1.3 - Using classes to create a "useful" map<br>-->
                <li/>
                1.3-使用类别来创建一个"有用"的地图。
                <!--1.4 - Labeling layers and Label layers<br>-->
                <li/>
                1.4-标记图层和标签图层。
                <!--1.5 - Raster layers<br>-->
                <li/>
                1.5-光栅图层。
                <!--1.6 - WMS layers<br>-->
                <li/>
                1.6-WMS图层。
                <!--1.7 - Projections, deconstructed<br>-->
                <li/>
                1.7-投影，重建。
                <!--1.8 - MapServer output formats<br>-->
                <li/>
                1.8-MapServer 产出的文件格式。
                <!--1.9 - Intro to MapServer Modes: map and browse</p>-->
                <li/>
                1.9-地图服务器模式:地图和浏览。
            </ul>
        </blockquote>

        <!--
        <dl>
            <dt>Addendum (more examples):</dt>
            <dd>PostGIS layers</dd>
             <dd>   WMS Server </dd>
        </dl>
        -->

        <h3><a href="section2.html">第2部分：用户接口与HTML模板</a></h3>

        <blockquote>
            <ul>
                <!--2.1- Pan and zoom<br>-->
                <li/>
                2.1-放大和缩小。
                <!--2.2 - Layer control<br>-->
                <li/>
                2.2-图层控制。
                <!--2.3 - Scalebar<br>-->
                <li/>
                2.3-比例尺。
                <!--2.4 - Legend<br>-->
                <li/>
                2.4-图例。
                <!--2.5 - Reference map</p>-->
                <li/>
                2.5-参考地图。
            </ul>
        </blockquote>

        <h3><a href="section3.html">第3部分：查询及更多HTML模板</a></h3>
        <blockquote>
            <ul>
                <!--3.1 - Class-level Query Template<br>-->
                <li/>
                3.1-类别-水平查询模板。
                <!--3.2 - Layer-specific Header and Footer Templates<br>-->
                <li/>
                3.2-图层-定义的页眉页脚模板。
                <!--3.3 - Map-wide Header and Footer Templates<br>-->
                <li/>
                3.3-地图宽页眉页脚模板。
                <!--3.4 - The QueryMap</p>-->
                <li/>
                3.4-地图查询。
            </ul>
        </blockquote>

        <h3><a href="section4.html">第4部分：介绍高级接口</a></h3>

        <blockquote>
            <ul>
                <!--4.1 - More CGI Variables<br>-->
                <li/>
                4.1-更多的CGI变量。
                <!-- 4.2 - Using JavaScript t0 Enhance the Application<br>-->
                <li/>
                4.2-使用JavaScript来强化应用。
                <!--  4.3 - Links to Other Examples</p>-->
                <li/>
                4.3-与其它例子的联系。
            </ul>
        </blockquote>

        <h3><a href="section5.html">第5部分：在PHP中使用MapScript</a></h3>

        <p>说明：此部分英文教程中没有。</p>


        <blockquote>
            <ul>

                <li/>


                <li/>


            </ul>
        </blockquote>

        <h3><a href="section6.html">第6部分：结合使用OpenLayers</a></h3>

        <p>说明：此部分英文教程中并没有。</p>

        <blockquote>
            <ul>

                <li/>
                6.1-OpenLayers的使用

                <li/>
                6.2-结合MapServer WMS与OpenLayers

            </ul>
        </blockquote>
</div>
    </div>
</div>
{% end %}
