{% extends "../../../../theme/content.html" %}
{% block headinfo %}

<title>开源WebGIS MapServer 6.x 教程第2部分： CGI变量及用户接口</title>

<meta name="keywords" content="MapServer,WebGIS,教程,地图服务,地图服务器">
<meta name="description" content="开源WebGIS MapServer 6.x 教程第2部分： CGI变量及用户接口">

{% end %}

{% block content %}

<div class="content">
    <div class="single">

<h1 align="center">MapServer 6.x 教程第2部分： CGI变量及用户接口</h1>
 <div class="entry">

    <p> 到目前为止，我们只能观察地图文件当创建地图时。创建Web制图应用程序，它通常是我们的意图来创建能够由用户（应用程序的）
        改变的地图。也就是说，一个用户能够改变地图的内容（或者信息）。要互动的完成这件事情，我们使用MapServer HTML模板。
    </p>



<p>一个MapServer HTML模板实际上是一个有几个特定MapServer的HTML文件--这些表标签是括在"[]"中的MapServer CGI 变量
    。当MapServer CGI程序处理应用时，它首先解析query_string和地图文件，并产生必要的产出。这个产出的一些需要写
    在 HTML 模板 文件中，你将必须在 mapfile 中定义，通过使用网络模板关键字（或者在一个单独的HTML初始化文件中）。
    CGI 程序将取代所有的变量在 HTML 模板中，用适当的值，在将它发送到web浏览器之前。
    如果你想直接在网页浏览器上查看HTML 模板，
    将不会有任何地图提供，反而会有空的图像和其它垃圾。
</p>

<p>MapServer的网络映射提供了一些变量--the "img"变量，你已经在Example 1.9中看见过但是只有一个例子。
    那里的区域几个   核心的CGI 变量最初设计作为地图界面的一个部分，但是实际上所有mapfile 参数都能够被定义为变量。</p>

    <p>CGI变量的明确的参考在：<a
        href="http://www.mapserver.org/cgi/index.html" target="_blank">http://www.mapserver.org/cgi/index.html</a></p>


<p>我们也可以定义我们的变量--MapServer将会把它传递到我们的应用程序中。例如，我们可以创建一个变量叫做"root"来代表我们的
    代表本教程的根目录--"<code>root</code>" 的值将会被"<code>/tutorial</code>“。
    当MapServer CGI的值处理我们的HTML 模板，它将会代替每一个"<code>[root]</code>"
    标记以及"<code>/tutorial</code>"的实例。你将会看到这个在每一个如下例子中的动作中。
</p>


<p>现在，让我们为我们的应用建立一个交互式的界面。</p>



<h4>教程2.0</h4>

<div>查看最简单的。这是书中的例子。</div>
<div><a href="example2-0.html">example2-0</a></div>



<h4>教程2.1</h4>

网络地图应用的使用者应该有能
力平移和缩放地图。
<div>
    <a href="http://159.226.123.26/cgi-bin/mapserv?map=/mstu/htdocs/example2.map&layer=states&zoom=0&mode=browse&root=/mstuto&program=/cgi-bin/mapserv&map_web=template+example2-1.html" target="_blank">
        教程 2.1 - 浏览及缩放控制
    </a></div>

<h4>教程2.2</h4>
<div> 他们也应该有能力打开和关闭图层在地图上.</div>
<!--... they also should be able to turn on and off layers on a map.<br>-->
<div>
    <a href="http://159.226.123.26/cgi-bin/mapserv?map=/mstu/htdocs/example2.map&layer=states&zoom=0&mode=browse&root=/mstuto&program=/cgi-bin/mapserv&map_web=template+example2-2.html" target="_blank">
        Example 2.2 - Layer Control
    </a></div>

<h4>教程2.3</h4>
<div>一个地图应该总是包含一个比例尺.</div>
<!--A map should always include a scalebar.-->
<div>    <a
        href="http://159.226.123.26/cgi-bin/mapserv?map=/mstu/htdocs/example2.map&layer=states&zoom=0&mode=browse&root=/mstuto&program=/cgi-bin/mapserv&map_web=template+example2-3.html" target="_blank">
        Example 2.3 - Adding a Scalebar</a></div>

<h4>教程2.4</h4>

如果用户想操纵通过地图，一个参考地图应该被提供。

<!--If users are to navigate through the map, a reference map should be
            provided.-->
<div>    <a
        href="http://159.226.123.26/cgi-bin/mapserv?map=/mstu/htdocs/example2.map&layer=states&zoom=0&mode=browse&root=/mstuto&program=/cgi-bin/mapserv&map_web=template+example2-4.html" target="_blank">
        Example 2.4 - Adding a Reference Map</a></div>


<h4>教程2.5</h4>

<div>就像任何好的地图一样，他应该有图例。</div>
<!--And like any good maps, it should include a legend.-->
<div>    <a
        href="http://159.226.123.26/cgi-bin/mapserv?map=/mstu/htdocs/example2.map&layer=states&zoom=0&mode=browse&root=/mstuto&program=/cgi-bin/mapserv&map_web=template+example2-5.html" target="_blank">
        Example 2.5- Adding a Legend</a>
</p></div>

<hr/>

<p>下面展示的是使用表单进行提交，效果与上面是一样的：</p>

<form method="get" action="http://159.226.123.26/cgi-bin/mapserv">
    <!-- The following two variables are user defined variables.
         MapServer will pass its value to the HTML template if the
         proper tags are found, in square brackets "[]"  -->
    <input type="hidden" name="root" value="/mstuto">
    <input type="hidden" name="program" value="/cgi-bin/mapserv">
    <!-- The map and layer variables are internal MapServer variables.
         They are required by the mapping application. -->
    <input type="hidden" name="map" value="/mstu/htdocs/example2.map">
    <input type="hidden" name="layer" value="states">
    <input type="hidden" name="zoom" value="0">
    Proceed to:
    <!-- The map_web_template variable will replace the TEMPLATE
         parameter in the WEB object of the MAP file... -->
    <select name="map_web">
        <option value="template example2-1.html">
            教程2.1: 浏览及缩放控制
        </option>
        <option value="template example2-2.html">
            教程2.2: 图层控制 
        </option>
        <option value="template example2-3.html">
            教程2.3: 比例尺
        </option>
        <option value="template example2-4.html">
            教程2.4: 参考地图
        </option>
        <option value="template example2-5.html">
            教程2.5: 图例
        </option>
    </select> 
    <input type="submit" name="submit" value="开始教程!">
</form>
<hr size="1">
<p class="Small" align="center">
    <a href="section1.html">第1部分</a> |
    <a href="sections.html">教程目录</a> |

    <a href="section3.html">第3部分</a>
</p>
</div>
        </div>
    </div>

{% end %}
