{% extends "../../../../theme/content.html" %}

{% block content %}


    <h1 align="center">MapServer 6.x 教程</h1>

<h3 align="center">第3部分: Query and more HTML Templates</h3>
<div>
    在第二节中，我们使用一个HTML模板文件来为网页地图应用创建一个用户界面。我们以一个应用。
    程序结束，在这里用户能放大，缩小，选择图层。在这节中我们要做的就是为我们的应用添加一个查询功能。
</div>
<!--In section two, we used an HTML template file to create a user
  interface for our web mapping application. We ended up with an
  application where users can zoom, pan, and select layers. What we
  will do in this section is add a query capability to our
  application.-->

<div>查询模板就是HTML片段，就是当被MapServer CGI 程序放在一起时，组成一个合适的HTML界面。</div>

<!--Query templates are HTML fragments that, when put together by the
  MapServer CGI program, forms a proper HTML page-->

<form method="get" action="http://159.226.123.26/cgi-bin/mapserv">
    下面的两个变量就是用户定义的变量。MapServer将会把它的值传递到HTML模板中，如果合适的标签被找到，在方括号中"[]" 。
    <!-- The following two variables are user defined variables.
         MapServer will pass its value to the HTML template if the
         proper tags are found, in square brackets "[]"  -->
    <input type="hidden" name="root" value="/mstuto">
    <input type="hidden" name="program" value="/cgi-bin/mapse   rv">
    地图和图层变量是交互式的 MapServer变量，它们被地图应用所需要。
    <!-- The map and layer variables are internal MapServer variables.
         They are required by the mapping application. -->
    <input type="hidden" name="map" value="/mstu/htdocs/example3.map">
    <input type="hidden" name="layer" value="states">
    <input type="hidden" name="zoom" value="0">

    Proceed to:
    <code>map_web</code> 变量将会代替 <code>TEMPLATE</code>变量在 mapfile 的WEB object中。
    <!-- The map_web variable will replace the TEMPLATE
         parameter in the WEB object of the MAP file... -->

         <br />
    <select name="map_web">
        <option value="template example3-1.html">
            教程3.1: 查询模板
        </option>
        <option value="template example3-2.html">
            教程3.2: Layer-wide Header and Footer Templates
        </option>
        <option value="template example3-3.html">
            教程3.3: Map-wide Header and Footer Templates
        </option>
        <option
            value="template example3-4.html header ../templates/example3_header.html footer ../templates/example3_footer_querymap.html">
            教程3.4: The Query Map
        </option>
    </select> &nbsp;
    <input type="submit" name="submit" value="Go there!">
</form>
<hr size="1">
<p class="Small" align="center">
  <a href="sections.html">返回 教程目录</a> |
  <a href="section2.html">返回 第2部分</a> |
  <a href="section4.html">第4部分</a>
</p>


{% end %}
