<script src="{{ static_url('f2elib/jquery/jquery-3.1.1.min.js') }}"></script>
<script src="{{ static_url('f2elib/bootstrap_3.3.7/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('f2elib/jquery-validate_1.15.0/jquery.validate.min.js') }}"></script>
{#
<!--<link rel="stylesheet" href="{{ static_url('f2elib/bootstrap_3.3.7/css/bootstrap.min.css')}}">-->
#}
<link href="{{ static_url('tass/css/style.css') }}" rel="stylesheet" type="text/css">

<script src="{{ static_url('f2elib/leaflet_1.0.1/leaflet.js') }}"></script>
<link rel="stylesheet" href="{{ static_url('f2elib/leaflet_1.0.1/leaflet.css') }}">