{% extends "../../theme/base.html" %}

{% block head %}
<title>我的收藏 | Maplet | 在线地图</title>
<meta name="keywords" content="在线地图,历史地图">
<meta name="description" content="在线地图,历史地图">
{% end %}


{% block zhuti %}

<!--
<div class="panel panel-black">
    <div class="panel-heading">
        所在位置： <a href="/">Maplet</a> > 用户 > 我的收藏
    </div>
</div>
-->
<div class="panel panel-black">
    <div class="panel-heading">
        我收藏的地图
    </div>

    <ul class="list-group">

        {% for rec in recs_collect %}
        <li class="list-group-item">
            <a href="/info/{{ rec.post_id }}">
                <span class="glyphicon glyphicon-map-marker"></span>
                {{ rec.post_title }}
            </a>

            <span class="post_cat">{% module app_tags(rec.post_id) %}</span>
            {% if 1== 2 %}
                  <span style="font-size: small; color: #5e5e5e">
                        ({{ rec.post.view_count }})
                        </span>
            {% end %}
        </li>
        {% end %}


    </ul>

</div>
 <div class="col-sm-12">
 <div class="row">

        {% module collect_pager( userinfo.uid, kwd['current_page'] ) %}

</div>
</div>
{% end %}


{% block right %}


<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
           <span class="glyphicon glyphicon-map-marker"></span>
            地图分类
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% module app_menu('m', 20) %}
        </ul>
    </div>
</div>

{% end %}
