{% extends "../../theme/base.html" %}

{% block head %}

<title>地图画板 Maplet</title>
<meta name="keywords" content="地图画板 Maplet">
<meta name="description" content="地图画板 Maplet">


{% end %}


{% block zhuti %}
<!--
<div class="panel panel-black">
    <div class="panel-heading">
        所在位置： <a href="http://maplet.osgeo.cn/">Maplet</a> >
        地图
    </div>
</div>
-->
<div class="panel panel-black">
    <div class="panel-heading">
        地图-最近使用
    </div>


    <ul class="list-group">
        {% module app_recent_used(8) %}
    </ul>


</div>


<div class="panel panel-black">
    <div class="panel-heading">
        分类
    </div>

    <div class="panel-body">
        <ul class="nav navbar-nav">
            {% module app_menu(20) %}
        </ul>
    </div>
</div>
{% end %}
