<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="bukun">
    <meta name="Copyright" content="Maplet">
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">

    {% module use_f2e('f2elib') %}

    <link rel="stylesheet" href="{{ static_url('tass/css/style.css')}}">

    {% block head %}{% end %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "ca-pub-4505825019574578",
enable_page_level_ads: true
});
</script>
</head>
<body>
<a href="https://github.com/gislite/maplet"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                 src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
                                                 alt="Fork me on GitHub"></a>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-globe"></span>地图云集</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">


                <li class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">在线地图<b
                            class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">

                        <li><a href="/list/ggeneral">普通地图</a></li>
                        <li><a href="/list/gzgls">中国历史地图</a></li>
                        <li><a href="/list/gfenguo">国外地图</a></li>
                        <li><a href="/list/gsjls">世界历史地图</a></li>
                        <li><a href="/list/gnature">自然地理地图</a></li>
                        <li><a href="/list/grenwen">人文社科地图</a></li>
                        <li><a href="/list/gsthj">生态环境地图</a></li>
                        <li><a href="/list/mdisaster">灾害地图</a></li>
                        <li><a href="/list/mraster">栅格数据</a></li>
                        <li><a href="/list/mvector">矢量数据</a></li>
                        <li><a href="/list/china_yg">中国行政区划沿革 </a></li>
                        <li><a href="/list/gserial">系列地图 </a></li>

                    </ul>
                </li>
                <li><a href="/geojson/">绘图</a></li>
                <li><a href="/post/index">文档</a></li>
                <li><a href="/filter/k100">图书</a></li>
                <li class="dropdown">
                    <a href="/page/help" class="dropdown-toggle" data-toggle="dropdown">用户<b
                            class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if 1 ==2 %}
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="/toolbox">我的工具箱</a></li>
                        {% end %}

                        <li><a href="/user_list/user_recent">最近使用</a></li>
                        <li><a href="/user_list/user_most">使用最多</a></li>
                        <li class="divider"></li>
                        <li><a href="/collect/list">我的收藏</a></li>
                        <li class="divider"></li>
                        <li><a href="/user/info">我的信息</a></li>

                    </ul>
                </li>

                {% if 1== 2 %}
                <li><a href="http://www.yunsuan.org" target="_blank" style="color:red;">
                    <span class="badge" style="color:yellow">云算</span></a></li>
                {% end %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div>
                        {% module widget_search() %}
                    </div>
                </li>


            </ul>
        </div>


</div>
{% block map_zhuti %}
{% block base_top_header %}

{% end %}

<footer class="footer">
    <div class="container">
        {% block link_list %}
        {% end %}
        <div class="row">
            <div class="col-sm-6">

                <div class="row">
                    <ul class="nav navbar-nav">
                        <li><a href="/page/about">关于</a></li>
                        <li><a href="/page/terms">免责声明</a></li>
                        <li><a href="/page/contact">联系我们</a></li>
                        <li class="divider"></li>
                        <li><a href="/page/how-to-use">如何使用</a></li>
                        <li><a href="/page/volunteers">志愿者</a></li>
                    </ul>
                </div>


                <div class="row">
                    <div class="bg-waring text-info"></div>
                    <div class="col-sm-8 col-md-offset-2">

                    </div>
                </div>

                <div class="row" style="font-size:.9em; color:darkgray; text-align: center; ">
                    <p>&copy; 2017 地图云集|maphub.cn 版权所有</p>

                    <p>中国科学院东北地理与农业生态研究所 吉ICP备05002032号</p>

                    <p>Powered by <a href="https://github.com/bukun/TorCMS" target="_blank">TorCMS</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="{{ static_url('fixed/maplet_qrcode.png') }} " width="200px"/>
            </div>

        </div>
    </div>
</footer>
{% end %}
</body>
<script type="text/javascript" src="{{ static_url('jslib/dst/gscript.js') }}"></script>

{% if userinfo and userinfo.role[2] >= '1' %}
{% else %}

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//121.42.45.218/piwik/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', '4']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<!-- End Piwik Code -->

{% end %}


</html>
