{% extends "base_zhu.html" %}

{% block head %}

<script src="{{ static_url('f2elib/codemirror_5.19.0/lib/codemirror.js') }}"></script>
<script src="{{ static_url('f2elib/codemirror_5.19.0/addon/edit/continuelist.js') }}"></script>
<script src="{{ static_url('f2elib/codemirror_5.19.0/mode/markdown/markdown.js') }}"></script>
<link rel="stylesheet" href="{{ static_url('f2elib/codemirror_5.19.0/lib/codemirror.css') }}">

{% end %}
{% block base_top_header %}

<div class="container">
    <div style="padding-top:80px;">
    </div>
{% block edit %}
{% end %}
</div>
{% end %}   
