{% extends "base_zhu.html" %}
{% block head %}


{% end %}
{% block base_top_header %}
<link href="/static/tass/css/map_styles.css" rel="stylesheet">
<div style="padding-top: 80px"></div>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

    



        <ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">

            <li>
                <a href="#configSetting" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-credit-card"></i>
                    配置管理
                    <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span>
                </a>
                <ul id="configSetting" class="nav nav-list secondmenu collapse in">
                    <li class="active"><a href="#"><i class="glyphicon glyphicon-globe"></i>&nbsp;全局缺省配置</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;未开通用户配置</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-star"></i>&nbsp;退订用户配置</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-text-width"></i>&nbsp;试用用户配置</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-ok-circle"></i>&nbsp;开通用户配置</a></li>
                </ul>
            </li>

        </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
     {% block show_map%} {% end %}
</div>
<div style="clear: both"></div>
{% end %}