{% extends "../../../theme/static.html" %}


{% block headinfo %}


<title>开放地理空间实验室WebGIS教程</title>


{% end %}

{% block content_static %}



        <h1>开源WebGIS教程在线演示</h1>

        <div class="entry">

            <p>本系列教程是由开放地理空间实验室进行开发的。作为WebGIS，首先需要的是地图服务器，这一部分的内容，在实验室的<a href="http://www.osgeo.cn/mapserver_tutorial/index.html">
            开源WebGIS教程：MapServer 6.x</a>中进行说明。</p>

            <p>接下来要演示的，以前台的技术为主。由于WebGIS相对比较复杂，需要较多的资源，如Javascript库，图件等，所以在CMS系统中嵌入WebGIS相对比较困难。</p>
            <p>这一部分，主要是配合网站的教程，进行WebGIS的在线演示。</p>



            <ul>
              <li> <a href="/webgis/leaflet110.html">开源WebGIS Leaflet示例：显示地图</a></li>
              <li> <a href="/webgis/leaflet120.html">开源WebGIS Leaflet示例：使用GeoJson</a></li>
              <li> <a href="/webgis/leaflet130.html">开源WebGIS Leaflet示例：交互操作</a></li>
              <li> <a href="/webgis/leaflet140.html">开源WebGIS Leaflet示例：图层组</a></li>
              <li> <a href="/webgis/leaflet210.html">开源WebGIS Leaflet示例：使用自己发布的地图WMS</a></li>
             <li>  <a href="/webgis/ol3_10.html">开源WebGIS OpenLayers 3 示例一</a></li>
             <li>  <a href="/webgis/ol3_20.html">开源WebGIS OpenLayers 3 示例二</a></li>
             <li>  <a href="/webgis/ol3_30.html">开源WebGIS OpenLayers 3 示例三</a></li>
            </ul>
        </div>



{% end %}

