{% extends "../../../theme/static.html" %}


{% block headinfo %}
<title>开放地理空间实验室WebGIS教程：Openlayers 3最简运行版本</title>
<script type="text/javascript" src="{{ static_url('jslib/ol3/ol.js')}}"></script>
<script type="text/javascript" src="{{ static_url('jslib/ol3/base.js')}}"></script>


<script type="text/javascript" src="js1.js">

</script>


<style>
    a.skiplink {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;

    }

    a.skiplink:focus {
        clip: auto;
        height: auto;
        width: auto;
        background-color: #ffffff;
        padding: 0.3em;
    }
</style>


{% end %}
{% block content_static %}


    <h1>开源WebGIS教程：Openlayers 3基本演示</h1>

        <div class="entry">
    <p>演示了OpenLayers 3的最基本用法。</p>


    <a class="skiplink" href="#map">Go to map</a>

    <div id="map1" tabindex="0" style="width: 90%; margin:0 auto;border:1px dodgerblue solid;"></div>




    <p>页面中的<code>map</code>元素具有<code>tabindex</code> 属性，能够获取焦点。map元素获取焦点后，
    可以使用 + 与 - 键 ，进行放大与缩小，也可以使用“上、下、左、右”键进行漫游。</p>

    <p>可以使用鼠标点击放大、缩小按钮，进行浏览；也可以使用鼠标滚轮放大缩小；可以使用鼠标进行拖拽。</p>
            </div>


{% end %}
