{% extends "../../../theme/static.html" %}


{% block headinfo %}

<title>开放地理空间实验室WebGIS教程：在Open Layers3中使用自己的WMS服务</title>
<script type="text/javascript" src="{{ static_url('jslib/ol3/ol-debug.js')}}"></script>
<script type="text/javascript" src="{{ static_url('jslib/ol3/base.js')}}"></script>
<style>
    a.skiplink {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;

    }

    a.skiplink:focus {
        clip: auto;
        height: auto;
        width: auto;
        background-color: #ffffff;
        padding: 0.3em;
    }
</style>


<script type="text/javascript" src="js2.js">

</script>


{% end %}
{% block content_static %}

        <h1>开源WebGIS教程：在Open Layers3中使用自己的WMS服务</h1>

        <div class="entry">
            <a class="skiplink" href="#map">Go to map</a>

            <div id="map" class="map" tabindex="0" style="width:90%;border:1px darkred solid;"></div>
        </div>

{% end %}
