{% for layout_rec in layout_recs %}
{% set u_link = '{0}?zoom={1}&lat={2}&lon={3}'.format(layout_rec.app.uid, layout_rec.zoom, layout_rec.lat,
                                                                 layout_rec.lon) %}
                <li class="list-group-item">
                    <a href="{{ kwd['site_url'] }}/map/{{ u_link }}" class="btn btn-xs btn-info">
                   <span class="glyphicon glyphicon-open"></span> 打开</a>
                    <a href="{{ kwd['site_url'] }}/map/{{ u_link }}&fullscreen=1" class="btn btn-xs btn-info" target="_blank">
                     <span class="glyphicon glyphicon-fullscreen"></span> 全屏</a>
                    <a href="{{ kwd['site_url'] }}/map/{{ u_link }}">
                   {{ kwd['site_url'] }}/map/{{ u_link }}</a>
                           <a onclick="del_layout('{{ layout_rec.uid }}')" class="btn btn-xs btn-danger" target="_blank">
                     <span class="glyphicon glyphicon-remove"></span>删除</a>


                </li>
            {% end %}
