{% extends "../../theme/base.html" %}

{% block head %}
<title>在线地图按分类列出</title>
<meta name="keywords" content="{{ tag_name }}地图,在线地图,历史地图,分类地图,">
<meta name="description" content="{{ tag_name }}地图,在线地图,历史地图,在线地图按分类列出">
{% end %}


{% block zhuti %}
<!--
<div class="panel panel-black">
    <div class="panel-heading">
        所在位置： <a href="/">地图</a> > 地图 > {{ tag_name }}

    </div>
</div>
-->
<div class="panel panel-black">
    <div class="panel-heading">
        {{ tag_name }}地图: 按分类列出
    </div>


    <ul class="list-group">
        {% for rec in infos %}
        <li class="list-group-item">
            <a href="/map/{{ rec.uid }}"><span class="glyphicon glyphicon-map-marker"></span> {{ rec.title }}</a>
            <span class="app_tag">{% module app_tags(rec.uid) %}</span>
        </li>
        {% end %}
    </ul>


    <div class="panel-footer">

        <div class="widget_baidu_share">{% module baidu_share() %}</div>

        <ul class="pagination">
            {% raw pager %}
        </ul>


    </div>
</div>

{% end %}


{% block right %}


<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            最近使用
        </h3>
    </div>

    <ul class="list-group">
        {% if userinfo is None %}
        {% module app_recent_used(10) %}
        {% else %}
        {% module app_user_recent(userinfo.user_name,6) %}
        {% end %}
    </ul>

</div>

<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            使用最多
        </h3>
    </div>

    <ul class="list-group">
        {% if userinfo is None %}
        {% module app_most_used(10) %}
        {% else %}
        {% module app_user_most(userinfo.user_name, 6) %}
        {% end %}
    </ul>

</div>

{% end %}
