{% extends "../theme/base.html" %}

{% block head %}
<title>在线地图 - 文档按分类列出</title>
<meta name="keywords" content="{{ catinfo.name }}地图,在线地图,历史地图,分类地图,">
<meta name="description" content="{{ catinfo.name }}地图,在线地图,历史地图,在线地图按分类列出">
{% end %}


{% block zhuti %}

<div class="panel panel-black">
    <div class="panel-heading">
        {{ catinfo.name }}
    </div>


    <ul class="list-group">
        {% for rec in infos %}
        <li class="list-group-item">
            <a href="/{{router}}/{{ rec.uid }}">

                <span class="glyphicon glyphicon-list-alt"></span>

                {{ rec.title }}
            </a>

        </li>
        {% end %}
    </ul>


    <div class="panel-footer">

        <div class="widget_baidu_share">{% module baidu_share() %}</div>


    </div>
</div>
<div>
    {% module catalog_pager( kwd['cat_slug'], kwd['current_page'] ) %}

</div>
{% end %}


{% block right %}




<div class="panel panel-default">
    <div class="panel-heading">
       文档分类
    </div>
    <ul class="list-group list-font">
        {% module category_menu() %}
    </ul>
</div>


{% end %}
