{% extends "../theme/base.html" %}

{% block zhuti %}

<div class="panel panel-black">
    <div class="panel-heading">
        地图 - 查找结果
    </div>


    <ul class="list-group">
        {% for rec in infos %}
        <li class="list-group-item">
            <span class="glyphicon glyphicon-map-marker"></span>
            <a href="/map/{{ rec.uid }}">{{ rec.title }}</a>
        </li>
        {% end %}
    </ul>

</div>

  <div class="row">
    <div class="col-sm-12">
        {% module label_pager('m', kwd['tag_slug'], kwd['current_page'] ) %}
    </div>
</div>
{% end %}

{% block right %}


<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            最近使用
        </h3>
    </div>

    <ul class="list-group">
        {% module app_recent_used('m', num = 8, userinfo = userinfo, glyph='glyphicon glyphicon-map-marker') %}

    </ul>

</div>

<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            使用最多
        </h3>
    </div>

    <ul class="list-group">
        {% module app_recent_used('m', num = 8, userinfo = userinfo, glyph='glyphicon glyphicon-map-marker') %}
    </ul>

</div>

{% end %}
