{% extends "../theme/base.html" %}

{% block zhuti %}

<div class="panel panel-black">
    <div class="panel-heading">
        <h1>查找结果</h1>
    </div>


    <ul class="list-group">
        {% for rec in infos %}
        <li class="list-group-item"><a href="/map/{{ rec.uid }}">{{ rec.title }}</a>
        </li>
        {% end %}
    </ul>
    

        <div class="row">
    <div class="col-sm-12">
        {% module label_pager('m', kwd['tag_slug'], kwd['current_page'] ) %}
    </div>
</div>

</div>


{% end %}
