{% extends "../theme/base.html" %}

{% block zhuti %}
<!--
<div class="panel panel-black">
    <div class="panel-heading">
        所在位置： <a href="/">Maplet</a> > 文档
    </div>
</div>
-->
<div class="panel panel-black">
    <div class="panel-heading">
        文档列表
    </div>
    <ul class="list-group">
        {% module post_recent(20) %}
    </ul>
   <div class="panel-footer">
        <div class="row">
            <div class="col-md-6">
                本文链接： <a href="http://www.maplet.org/post/recent">文档</a>
            </div>


            <div class="col-md-6" style="text-align: right;">
                <div class="widget_baidu_share">{% module baidu_share() %}</div>
            </div>


        </div>
    </div>
</div>
{% end %}

{% block right %}

{% if userinfo is not None and userinfo.role[1] >= '1' %}
<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            用户操作
        </h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="/post/_add" class="btn btn-small btn-primary">添加文档</a></li>
        <li class="list-group-item"><a href="/post/_refresh" class="btn btn-small btn-primary">更新文档</a></li>
    </ul>
</div>
{% end %}



<div class="panel panel-default">
    <div class="panel-heading">
       文档分类
    </div>
    <ul class="list-group list-font">
        {% module category_menu() %}
    </ul>
</div>

{% end %}
