{% extends "../../theme/tpl_add.html" %}
{% block headinfo %}


<script type="text/javascript">
    function select(html2) {
        $('#showCnt').load(html2);
    }

</script>


{% end %}
{% block typebody %}


<div class="panel panel-default">

    <div class="panel-heading">
        {% module BreadcrumbPublish(1) %}
    </div>
</div>
<div class="panel panel-black">

    <div class="panel-heading">
        <h2>选择二级分类</h2>
    </div>
    <div class="panel-body">

        {% raw kwd['class1str'] %}
    </div>


</div>


{% end %}

{% block footinfo %}

{% end %}
