{% extends "../theme/base.html" %}

{% block zhuti %}
<!--
<div class="panel panel-info">
    <div class="panel-heading">
        所在位置： <a href="/">Maplet</a> > 文档
    </div>
</div>
-->
<div class="panel panel-black">
    <div class="panel-heading">
        {{ kwd['title'] }}
    </div>
    <ul class="list-group">
        {% module post_recent(20) %}
    </ul>
   <div class="panel-footer">
        <div class="row">
            <div class="col-md-6">
                本文链接： <a href="http://www.maplet.org/post/recent">文档</a>
            </div>


            <div class="col-md-6" style="text-align: right;">
                <div class="widget_baidu_share">{% module baidu_share() %}</div>
            </div>


        </div>
    </div>
</div>
{% end %}

{% block right %}

{% if userinfo is not None and userinfo.role[2] == '1' %}
<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            用户操作
        </h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="/post/add_document" class="btn btn-small btn-primary">添加文档</a></li>
        <li class="list-group-item"><a href="/post/refresh" class="btn btn-small btn-primary">更新文档</a></li>
    </ul>
</div>
{% end %}

<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            地图分类
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% module app_menu(20) %}
        </ul>
    </div>
</div>
<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            最近文档
        </h3>
    </div>
    <ul class="list-group">

        {% module post_recent(8, with_catalog=False, with_date = False) %}
    </ul>
</div>


{% end %}
